@use "../../fw.scss";

.st-p-feedbackSent {
    display: grid;
    grid-template-areas:
        "...      ...       ..."
        "...      image     ..."
        "...      header    ..."
        "...      content   ..."
        "...      wrapper   ..."
        "...      ...       ...";
    grid-template-columns: 1fr 650px 1fr;
    grid-template-rows:
        10vh
        max-content max-content max-content max-content
        15vh;
    gap: 0;
    @include fw.screen("tablet") {
        grid-template-rows:
            8vh
            max-content max-content max-content max-content
            15vh;
        grid-template-columns: 10% 1fr 10%;
    }
    @include fw.screen(phone) {
        grid-template-rows:
            5vh
            max-content max-content max-content max-content
            15vh;
    }
    // styles
    position: relative;
    ._image {
        grid-column: image;
        grid-row: image;
        height: 65px;
        background: center no-repeat url(./pages/FeedbackSentPage/img/check-circle.svg);
        margin-bottom: 25px;
        padding: 0;
        @include fw.screen("phone") {
            height: 50px;
        }
    }
    ._header {
        grid-column: header;
        grid-row: header;
    }
    ._content {
        grid-column: content;
        grid-row: content;
        margin-bottom: 25px;
    }
    ._message {
        position: relative;
        @include fw.font(ar);
        text-align: center;
        line-height: 1.3;
        font-size: 25px;
        padding: 0;
        @include fw.screen("phone") {
            font-size: 18px;
        }
    }
    ._btnWrapper {
        grid-column: wrapper;
        grid-row: wrapper;
        display: flex;
        justify-content: center;
    }
    ._btn {
        @include fw.btn("green", "l");
        @include fw.screen("phone") {
            width: 100%;
        }
    }
}
