<!DOCTYPE html>
<html lang="ru">

<body>
    <%- include ../../blocks/HeaderBlock/HeaderBlockTempl.ejs -%>
    <%- include ../../blocks/MainMenuBlock/MainMenuBlockTempl.ejs -%>
    <main class="st-p-feedbackSent">
        <div class="_image"></div>
        <div class="_content">
            <p class="_message">{{ message }}</p>
        </div>
        {% if btnLink %}
        <div class="_btnWrapper">
            <a href="{{ btnLink }}" class="_btn">{{ btnTitle }}</a>
        </div>
        {% endif %}
    </main>
    <%- include ../../blocks/FooterBlock/FooterBlockTempl.ejs -%>
</body>

</html>