@use "../../../fw.scss";

.st-c-asyncButton {
    ._loader::before {
        content: "";
        position: absolute;
        cursor: default;
        box-sizing: content-box;
        border-radius: inherit;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(./basics/components/AsyncButtonComponent/img/loader.svg) no-repeat;
        background-color: inherit;
        background-size: contain;
        background-position: center;
    }
}
