<form class="st-c-form js-form-signup">
    <h1 class="_header">{{ FormSignupBlock.dict.formHeader }}</h1>
    <div class="_field st-c-textbox js-textbox-firstName">
        <input type="text" autocomplete="on" required>
        <label>{{ FormSignupBlock.dict.userFirstNameLabel }}</label>
    </div>
    <div class="_field st-c-textbox js-textbox-email">
        <input type="email" autocomplete="on" required>
        <label>{{ FormSignupBlock.dict.userEmailLabel }}</label>
    </div>
    <div class="_field st-c-textbox js-textbox-mobilePhone">
        <input type="tel" placeholder="" autocomplete="on" required>
        <label>{{ FormSignupBlock.dict.userMobilePhoneLabel }}</label>
    </div>
    <button type="button" class="_btnSend js-btnSend">
        {{ FormSignupBlock.dict.continueButtonTitle }}
    </button>
</form>