<form class="st-f-createIssueMessage js-form-createMessage">
    <div class="__input st-c-textarea js-textarea-message">
        <textarea rows="3" required></textarea>
        <label>{{ dict.addMessage }}</label>
    </div>
    <button type="button" class="__btnSend js-btnSend">{{ dict.send }}</button>
</form>