<form class="_form st-f-base js-form-issue">
    <h class="__header">{{dict.header}}</h>
    <div class="__field st-c-cascadeSelect js-cascadeSelect-theme">
        <div class="__selectsWrapper">
            <div class="__select" data-level="1">
                <button type="button">-- {{ dict.notSelected }} --</button>
            </div>
        </div>
    </div>
    <div class="__field st-c-textbox js-textbox-summary">
        <input type="text" required><label>{{ dict.summary }}</label>
    </div>
    <div class="__field st-c-textarea js-textarea-message">
        <textarea rows="5" required></textarea>
        <label>{{ dict.message }}</label>
    </div>
    <div class="__field st-c-multifile js-multifile-files">
        <div class="__wrapper">
            <label>
                <input type="file" multiple accept="image/*">
                <span class="__upload">{{ dict.addFiles }}</span>
            </label>
        </div>
    </div>
    <button type="button" class="__btnSend js-btnSend">{{dict.btnSend}}</button>
</form>