<form class="_form gr-f-feedback st-a-f-auth js-form-feedback">
    <h1 class="_header __header">{{header}}</h1>
    <fieldset class="_contacts __contacts">
        <div class="__field st-c-textbox js-textbox-firstName">
            <input type="text" autocomplete="on" value="{{profile.firstName}}">
            <label>{{dict.firstName}}</label>
        </div>
        <div class="__field st-c-textbox js-textbox-email">
            <input type="text" autocomplete="on" value="{{profile.email}}">
            <label>{{dict.email}}</label>
        </div>
    </fieldset>
    <div class="_theme __field st-c-tapSelect js-tapSelect-theme">
        <div class="__select">
            <button type="button">-- {{dict.notSelected}} --</button>
            <ul>
                {% for theme in themes %}
                <li name="{{theme.t_id}}">{{theme.t_title}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="_message __field st-c-textarea js-textarea-message">
        <textarea rows="5" required></textarea>
        <label>{{dict.message}}</label>
    </div>
    <button type="button" class="_btnSend __btnAction js-btnSend">{{dict.btnSend}}</button>
</form>