<form class="_form gr-f-login st-a-f-auth js-form-login">
    <h1 class="_header __header">{{ dict.header }}</h1>
    <div class="_login __field st-c-textbox js-textbox-login">
        <input type="text" autocomplete="on" required><label>{{ dict.login }}</label>
    </div>
    <div class="_password __field st-c-textbox js-passbox-password">
        <input type="password" autocomplete="on" required>
        <label>{{ dict.password }}</label>
        <div class="__toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 1.488c-5.302 0-8 5.21-8 6.512 0 1.302 2.791 6.512 8 6.512S16 9.302 16 8c0-1.302-2.698-6.512-8-6.512zm0 10.233A3.731 3.731 0 014.279 8 3.731 3.731 0 018 4.279 3.731 3.731 0 0111.721 8 3.731 3.731 0 018 11.721zM8 6c1.143 0 2 .953 2 2 0 1.143-.952 2-2 2-1.143 0-2-.952-2-2 0-1.142.857-2 2-2z">
                </path>
            </svg>
        </div>
    </div>
    <div class="_isRemember __checkbox st-c-checkbox js-checkbox-isRemember">
        <label>
            <input type="checkbox" checked>
            <span>{{ dict.isRemember }}</span>
        </label>
    </div>
    <button type="button" class="_btnSend __btnAction js-btnSend">{{ dict.btnAction }}</button>
</form>