<form class="_form gr-f-passwordReset st-a-f-auth js-form-passResetByEmail">
    <h1 class="_header __header">{{header}}</h1>
    <div class="_message __message">
        <p>{{message}}</p>
    </div>
    <div class="_email __field st-c-textbox js-textbox-email">
        <input type="email" autocomplete="on" required autofocus><label>{{email}}</label>
    </div>
    <button type="button" class="_btnSend __btnAction js-btnSend">{{btnAction}}</button>
</form>