<form class="_form gr-f-signup st-a-f-auth js-form-signup">
    <h1 class="_header __header">{{header}}</h1>
    <div class="_username __field st-c-textbox js-textbox-firstName">
        <input type="text" autocomplete="on" required><label>{{userFirstName}}</label>
    </div>
    <div class="_email __field st-c-textbox js-textbox-email">
        <input type="email" autocomplete="on" required><label>{{userEmail}}</label>
    </div>
    <div class="_phone __field st-c-textbox js-textbox-mobilePhone">
        <input type="tel" placeholder="" autocomplete="on" required><label>{{userMobilePhone}}</label>
    </div>
    <button type="button" class="_btnSend __btnAction js-btnSend">{{continue}}</button>
</form>