@use "../../fw.scss";

.st-b-footer {
    display: grid;
    grid-template-areas:
        "line"
        "text";
    grid-template-columns: 1fr;
    gap: 0;
    // style
    position: relative;
    ._line {
        grid-column: line;
        grid-row: line;
        margin-block-end: 10px;
        color: fw.$gray-s;
        background-color: fw.$gray-s;
        height: 1px;
        width: 100%;
        align-self: center;
        border: 0 none;
    }
    ._text {
        grid-column: text;
        grid-row: text;
        @include fw.font(ar);
        justify-self: center;
        text-align: center;
        color: fw.$gray-m;
    }

    .st-b-footer--cookiesWindow {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1 {
            @include fw.font(ab);
            font-size: 19px;
        }
        p {
            @include fw.font(br);
            font-size: 15px;
        }
        a {
            @include fw.link(basic);
            font-size: 15px;
        }
        button {
            @include fw.btn("green", "l");
        }
    }
}
