@use "../../fw.scss";

.gr-c-issueItem {
    display: grid;
    grid-template-areas:
        "...      ...         ..."
        "...      header      ..."
        "...      top         ..."
        "...      issueChat   ..."
        "...      ...         ...";
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows:
        5vh
        max-content max-content max-content
        15vh;
    gap: 0;
    @media screen and (max-width: 700px) {
        grid-template-columns: 10% 1fr 10%;
    }
    @include fw.screen(phone) {
        grid-template-rows:
            3vh
            max-content max-content max-content
            15vh;
    }
    ._top {
        grid-column: top;
        grid-row: top;
    }

    ._issueChat {
        grid-column: issueChat;
        grid-row: issueChat;
    }
}
