.gr-f-passwordSet {
    grid-template-areas:
        "header"
        "topError"
        "message"
        "email"
        "btnSend";
    grid-template-columns: 1fr;
}

._title {
    grid-column: title;
    grid-row: title;
}

._topError {
    grid-column: topError;
    grid-row: topError;
}

._message {
    grid-column: message;
    grid-row: message;
}

._email {
    grid-column: email;
    grid-row: email;
}

._btnSend {
    grid-column: btnSend;
    grid-row: btnSend;
}
