.gr-f-signup {
    grid-template-areas:
        "header"
        "topError"
        "username"
        "email"
        "phone"
        "btnSend";
    grid-template-columns: 1fr;
}

._title {
    grid-column: title;
    grid-row: title;
}

._topError {
    grid-column: topError;
    grid-row: topError;
}

._username {
    grid-column: username;
    grid-row: username;
}

._email {
    grid-column: email;
    grid-row: email;
}

._phone {
    grid-column: phone;
    grid-row: phone;
}

._btnSend {
    grid-column: btnSend;
    grid-row: btnSend;
}
