.gr-f-feedback {
    grid-template-areas:
        "header"
        "contacts"
        "theme"
        "message"
        "btnSend";
    grid-template-columns: 1fr;
}

._theme {
    grid-column: theme;
    grid-row: theme;
}

._contacts {
    grid-column: contacts;
    grid-row: contacts;
}
