.gr-f-passwordSet {
    grid-template-areas:
        "header"
        "topError"
        "message"
        "password"
        "passChecker"
        "btnSend";
    grid-template-columns: 1fr;
}

._title {
    grid-column: title;
    grid-row: title;
}

._topError {
    grid-column: topError;
    grid-row: topError;
}

._message {
    grid-column: message;
    grid-row: message;
}

._password {
    grid-column: password;
    grid-row: password;
}

._passChecker {
    grid-column: passChecker;
    grid-row: passChecker;
}

._btnSend {
    grid-column: btnSend;
    grid-row: btnSend;
}
