@use "../../fw.scss";

.st-p-issueList {
    .__header {
        margin-bottom: 15px;
    }
    .__h1 {
        @include fw.header("h1");
    }
    .__h2 {
        @include fw.header("h2");
        margin-top: 25px;
        @include fw.screen(phone) {
            margin-top: 15px;
        }
    }
    .__btnLink {
        @include fw.btn("green", "m");
    }
    .__teasersContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;
    }
    .__emptyMessageBox {
        @include fw.font(ar);
        @include fw.border(block);
        padding: 20px 10px;
        margin-top: 15px;
        font-size: 18px;
        text-align: center;
        @include fw.screen(phone) {
            font-size: 16px;
            margin-top: 0;
        }
    }
}
