@use "../../fw.scss";

.st-p-firstIssue {
    position: relative;
    .__flexWrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .__btnLink {
        @include fw.btn("green", "xl");
        @include fw.screen("phone") {
            @include fw.btn("green", "l");
            width: 100%;
        }
    }
    .__note {
        @include fw.font(ar);
        color: fw.$gray-xl;
        text-align: center;
        line-height: 1.4;
        font-size: 17px;
        @include fw.screen("phone") {
            font-size: 16px;
        }
    }
}
