@use "../../fw.scss";

.st-p-profile {
    position: relative;
    .__header {
        background-color: white;
        margin-bottom: 20px;
        @include fw.font(am);
        font-size: 25px;
        @include fw.screen("phone") {
            margin-bottom: 15;
            font-size: 22px;
        }
    }
    .__field {
        padding-bottom: 15px;
    }
    .__links {
        margin-top: 10px;
    }
    .__link {
        display: block;
        text-align: center;
        color: fw.$gray-l;
        @include fw.font(ar);
        font-size: 16px;
        padding-bottom: 8px;
    }
}
