@use "../../fw.scss";

.st-p-success {
    position: relative;
    .__image {
        height: 65px;
        background: center no-repeat url(../assets/svg/check-circle.svg);
        margin-bottom: 25px;
        padding: 0;
        @include fw.screen("phone") {
            height: 50px;
        }
    }
    .__content {
        margin-bottom: 25px;
    }
    .__message {
        position: relative;
        @include fw.font(ar);
        text-align: center;
        line-height: 1.3;
        font-size: 25px;
        padding: 0;
        @include fw.screen("phone") {
            font-size: 18px;
        }
    }
    .__btnWrapper {
        display: flex;
        justify-content: center;
    }
    .__btn {
        @include fw.btn("green", "l");
        @include fw.screen("phone") {
            width: 100%;
        }
    }
}
