@use "../../fw.scss";

@mixin item {
    display: block;
    position: relative;
    width: 220px;
    margin: 10px 10px 30px 10px;
    @include fw.font(ar);
    font-size: 18px;
    line-height: 1.2;
}

@mixin triangle {
    content: "";
    position: absolute;
    left: -15px;
    top: -5px;
    z-index: -1;
}

.st-p-main {
    position: relative;
    .__banner {
        background-image: url(../assets/images/landingPage__banner.jpeg);
        background-size: cover;
        height: 450px;
    }
    .__bannerText {
        @include fw.font(ar);
        text-align: center;
        margin: 90px auto 0 auto;
        color: white;
        text-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
        width: 835px;
        font-size: 35px;
        line-height: 1.2;
        @include fw.screen(tablet) {
            width: 80%;
            font-size: 28px;
        }
        @include fw.screen(phone) {
            width: 90%;
            font-size: 22px;
        }
    }
    .__bannerBtn {
        @include fw.btn("transparent-white", "l");
        margin: 50px auto 0 auto;
        @include fw.screen(phone) {
            @include fw.btn("transparent-white", "m");
            margin: 30px auto 0 auto;
        }
    }
    .__howItWorks {
        @include fw.font(ar);
        font-size: 40px;
        text-align: center;
        margin: 25px auto 20px auto;
    }
    .__item1 {
        @include item;
        &::before {
            @include triangle;
            @include fw.triangle(fw.$ebay-red, right, 25px);
        }
    }

    .__item2 {
        @include item;
        &::before {
            @include triangle;
            @include fw.triangle(fw.$ebay-red, right, 25px);
        }
    }

    .__item3 {
        @include item;
        &::before {
            @include triangle;
            @include fw.triangle(fw.$ebay-red, right, 25px);
        }
    }

    .__item4 {
        @include item;
        &::before {
            @include triangle;
            @include fw.triangle(fw.$ebay-red, right, 25px);
        }
    }
}
