@use "../../fw.scss";

.st-p-emailSent {
    position: relative;
    .__image {
        height: 45px;
        background: center no-repeat url(../assets/svg/email-sent.svg);
        margin-bottom: 25px;
        padding: 0;
        @include fw.screen("phone") {
            height: 37px;
        }
    }
    .__header {
        @include fw.font(ab);
        text-align: center;
        font-size: 30px;
        margin-bottom: 15px;
        @include fw.screen("tablet") {
            font-size: 23px;
        }
        @include fw.screen("phone") {
            font-size: 20px;
        }
    }
    .__content {
        margin-bottom: 25px;
    }
    .__text {
        position: relative;
        @include fw.font(ar);
        text-align: center;
        line-height: 1.3;
        font-size: 20px;
        padding: 0;
        @include fw.screen("tablet") {
            font-size: 18px;
        }
        @include fw.screen("phone") {
            font-size: 16px;
        }
    }
    .__btnWrapper {
        display: flex;
        justify-content: center;
    }
    .__btn {
        @include fw.btn("green", "l");
        @include fw.screen("phone") {
            width: 100%;
        }
    }
}
