.im-a-crossInRound {
    background: center no-repeat url(../assets/svg/cross-in-round.svg);
}

.im-a-urlBroken {
    background: center no-repeat url(../assets/svg/link-broken.svg);
}

.img-actionError {
    background: center no-repeat url(../assets/svg/action-error.svg);
}

.img-checkInCircle {
    background: center no-repeat url(../assets/svg/check-circle.svg);
}
