@use "../../fw.scss";

.st-p-issueList {
    display: grid;
    grid-template-areas:
        "...      ...             ..."
        "...      issueList       ..."
        "...      ...             ...";
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows:
        5vh
        max-content
        15vh;
    gap: 0;
    @media screen and (max-width: 700px) {
        grid-template-columns: 10% 1fr 10%;
    }
    @include fw.screen(phone) {
        grid-template-rows:
            3vh
            max-content
            15vh;
    }
    @include fw.screen(wide) {
        grid-template-columns: 1fr 850px 1fr;
    }
    ._issueListBlock {
        grid-column: issueList;
        grid-row: issueList;
    }
}
