<!DOCTYPE html>
<html lang="ru">

<body>
    <%- include ../../blocks/HeaderBlock/HeaderBlockTempl.ejs -%>
    <%- include ../../blocks/MainMenuBlock/MainMenuBlockTempl.ejs -%>
    <main class="st-p-issueCreate">
        <div class="_form js-b-issueCreate">
            <%- include ../../blocks/FormIssueCreateBlock/FormIssueCreateBlockTempl.ejs -%>
        </div>
    </main>
    <%- include ../../blocks/FooterBlock/FooterBlockTempl.ejs -%>
</body>

</html>