@use "../../fw.scss";

.st-a-p-auth {
    position: relative;
    .__message {
        @include fw.font(ar);
        border: 1px solid fw.$orange;
        background-color: #ff7a0025;
        border-radius: 5px;
        padding: 15px;
        font-size: 16px;
        margin-top: -50px;
        margin-bottom: 40px;
        @include fw.screen("phone") {
            margin-top: -25px;
        }
    }
    .__links {
        margin-top: 20px;
        display: inline-flex;
        flex-direction: column;
        @include fw.screen("phone") {
            margin-top: 0;
        }
    }
    .__link {
        text-align: center;
        color: fw.$gray-m;
        @include fw.font(ar);
        font-size: 16px;
        margin: 0 auto;
        padding-bottom: 8px;
        &:hover,
        &:focus {
            color: fw.$gray-l;
        }
    }
}
