// Логин, пароль и т.д.

@use "../../fw.scss";

@mixin form-error {
    background-color: tomato;
    color: white;
}

.st-a-f-auth {
    position: relative;
    border: fw.$gray-m solid 1px;
    border-radius: 7px;
    padding: 35px 25px 30px 25px;
    @include fw.screen("phone") {
        padding: 20px 0 30px 0;
        border-color: transparent;
    }
    .__contacts {
        border: 0px;
        display: flex;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-block-end: 0;
        padding-inline-end: 0;
        padding-block-start: 0;
        padding-inline-start: 0;
        gap: 15px;
        @media screen and (max-width: 600px) {
            flex-direction: column;
            gap: 0;
        }
    }

    .__header {
        position: absolute;
        top: -18px;
        left: 18px;
        background-color: white;
        padding: 0 5px;
        @include fw.font(am);
        font-size: 25px;
        @include fw.screen("phone") {
            font-size: 22px;
            left: -8px;
            top: -25px;
        }
    }

    .__message {
        @include fw.font(ar);
        font-size: 16px;
        margin: 0;
        padding-bottom: 20px;
    }

    .__field {
        margin-bottom: 15px;
    }

    .__passChecker {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .__checkbox {
        margin-bottom: 15px;
    }

    .__btnAction {
        @include fw.btn("green", "l");
        @include fw.screen("phone") {
            width: 100%;
        }
    }

    .__links {
        margin-top: 10px;
    }

    .__link {
        display: block;
        text-align: center;
        color: fw.$gray-m;
        @include fw.font(ar);
        font-size: 16px;
        padding-bottom: 8px;
    }

    .js-topError {
        background-color: fw.$col-err-bg;
        color: fw.$col-err-txt;
        margin-bottom: 12px;
        padding: 5px;
        @include fw.font(ar);
        font-size: 15px;
        border-color: inherit;
    }
}
