@use "../../fw.scss";

.st-a-p-httpError {
    .__header {
        @include fw.font(ab);
        text-align: center;
        font-size: 40px;
        padding: 0;
        @include fw.screen("tablet") {
            font-size: 35px;
        }
        @include fw.screen("phone") {
            font-size: 21px;
        }
    }
    .__content {
        margin-top: 15px;
    }

    .__contentText {
        @include fw.font(ar);
        text-align: center;
        font-size: 25px;
        padding: 0;
        @include fw.screen("tablet") {
            font-size: 20px;
        }
        @include fw.screen("phone") {
            font-size: 18px;
        }
    }
    .__errorCode {
        @include fw.font(br);
        text-align: center;
        font-size: 250px;
        color: fw.$gray-m;
        padding: 0;
        @include fw.screen("tablet") {
            font-size: 190px;
        }
        @include fw.screen("phone") {
            font-size: 125px;
        }
    }
}
