@use "../../fw.scss";

.st-a-p-error {
    position: relative;
    .__image {
        height: 65px;
        @include fw.font(ab);
        padding: 0;
        @include fw.screen(phone) {
            height: 50px;
        }
    }
    .__content {
        margin-top: 15px;
        @include fw.font(ar);
        text-align: center;
        font-size: 25px;
        padding: 0;
        @include fw.screen("tablet") {
            font-size: 20px;
        }
        @include fw.screen("phone") {
            font-size: 18px;
        }
    }

    .__btn {
        @include fw.btn("green", "l");
        @include fw.screen("phone") {
            width: 100%;
        }
    }
}
