<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for key, value in state %}
    <meta name="app:{{ key }}" content="{{ value }}">
    {% endfor %}
    <title>{{ title }}</title>
</head>