{% if user.userKey %}
<header class="gr-b-headerLogin st-b-headerLogin">
    <span class="_logo __logo">dship</span>
    <div class="_userBalance">{{ user.balance }}</div>
    <a href="/profile" class="_btnUserProfile __btnUserProfile">Мой профиль</a>
    <div class="_btnLogout __btnLogout js-btn-logout"></div>
    <div class="__overlay js-overlay">
        <span class="__text">Выйти из аккаунта?</span>
        <button class="__btn js-logout">Да</button>
        <button class="__btn js-no">Нет</button>
    </div>
</header>
{% else %}
<header class="gr-b-headerLogout st-b-headerLogout">
    <span class="_logo __logo">dship</span>
    <a href="/signup" class="_btnReg __btnReg">Регистрация</a>
    <a href="{{ urls.auth.login }}" class="_btnLogin __btnLogin">Вход</a>
</header>
{% endif %}