{% if user.userKey %}
<nav class="st-c-mainMenu">
    <div class="_items __items">
        <li class="__item"><a href="">Каталоги</a></li>
        <li class="__item __active"><a href="">Товары</a></li>
        <li class="__item"><a href="">Закупки</a></li>
        <li class="__item"><a href="">Байеры</a></li>
        <li class="__item"><a href="">Курсы</a></li>
        <li class="__item"><a href="{{urls.support.support}}">Поддержка</a></li>
    </div>
</nav>
{% endif %}