@use "../../fw.scss";

.gr-b-headerLogin {
    display: grid;
    grid-template-areas: "... logo ... userBalance btnUserProfile btnLogout  ...";
    grid-template-columns: 5% max-content 1fr max-content max-content max-content 5%;
    gap: 0;
}

._logo {
    grid-column: logo;
    grid-row: logo;
}

._userBalance {
    grid-column: userBalance;
    grid-row: userBalance;
}

._btnUserProfile {
    grid-column: btnUserProfile;
    grid-row: btnUserProfile;
}

._btnLogout {
    grid-column: btnLogout;
    grid-row: btnLogout;
}
