@use "../../fw.scss";

.gr-b-footer {
    display: grid;
    grid-template-areas:
        "line"
        "text";
    grid-template-columns: 1fr;
    gap: 0;
}

._line {
    grid-column: line;
    grid-row: line;
}

._text {
    grid-column: text;
    grid-row: text;
}

.grid-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5px max-content;
}

.grid-footer hr {
    grid-row: 1/2;
    margin-block-end: 10px;
    color: fw.$gray-s;
    background-color: fw.$gray-s;
    height: 1px;
    width: 100%;
    align-self: center;
    border: 0 none;
}

.grid-footer p {
    grid-row: 2/3;
    @include fw.font(ar);
    justify-self: center;
    text-align: center;
    color: fw.$gray-m;
}
