.gr-b-headerLogout {
    display: grid;
    grid-template-areas: "... logo ... btnReg ... btnLogin ...";
    grid-template-columns: 5% max-content 1fr max-content 10px max-content 5%;
    gap: 0;
}

._logo {
    grid-column: logo;
    grid-row: logo;
}

._btnReg {
    grid-column: btnReg;
    grid-row: btnReg;
}

._btnLogin {
    grid-column: btnLogin;
    grid-row: btnLogin;
}
