@use "../../../fw.scss";

.st-c-passwordChecker {
    width: 100%;
    position: relative;
    ul {
        position: relative;
        list-style: none;
        padding-left: 0;
        padding-top: 5px;
        background-color: fw.$yellow-s;
        border-radius: 2px;
        border: 1px solid fw.$green-m;
    }
    li {
        position: relative;
        appearance: none;
        padding: 0 0 5px 10px;
        @include fw.font(ar);
        font-size: 14px;
    }
    span.triangle {
        position: absolute;
        display: block;
        width: 0px;
        height: 0px;
        top: -7px;
        left: 20px;
        border-bottom: 16px solid transparent;
        border-left: 16px solid fw.$yellow-s;
        //315
        transform: rotate(45deg);
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 7.5px;
            left: -24.5px;
            width: 16px;
            border-top: 1px solid fw.$green-m;
            transform: rotate(90deg);
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: -1px;
            left: -17px;
            width: 17px;
            border-top: 1px solid fw.$green-m;
        }
    }
}
