@use "../../../fw.scss";

.st-c-textarea {
    position: relative;
    width: 100%;
    textarea {
        border: 1px solid fw.$gray-m;
        border-radius: 2px;
        overflow: auto;
        box-sizing: border-box;
        font-family: sans-serif;
        font-size: 18px;
        appearance: none;
        padding: 25px 10px 10px 10px;
        width: 100%;
        resize: vertical;
        &:focus,
        &:active {
            border-color: fw.$gray-xl;
            outline: none;
        }
        &:focus ~ label,
        &:valid ~ label {
            font-size: 12px;
            top: 6px;
            color: fw.$gray-m;
            transition: 0.5s;
        }
    }
    label {
        position: absolute;
        @include fw.font(ar);
        font-size: 18px;
        color: fw.$gray-l;
        top: 14px;
        left: 0px;
        padding-left: 10px;
        pointer-events: none;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &.js-fieldError {
        & > textarea {
            border: fw.$col-err-bg solid 1px;
        }
        & > p {
            background-color: fw.$col-err-bg;
            color: fw.$col-err-txt;
            @include fw.font(ar);
            font-size: 14px;
            padding: 3px 3px 3px 5px;
            margin-top: -5px;
        }
    }
}
