@use "../../fw.scss";

.st-b-mainMenu {
    display: grid;
    grid-template-areas: "... menu ...";
    grid-template-columns: 5% minmax(250px, 1fr) 5%;
    gap: 0;
    /* Декоративная линия, которая отделяет
    меню от основной страницы */
    border-bottom: 1px solid fw.$gray-l;
    /* Блок, на котором инициализируется scrollContainer
    и относительно которого прокручивается вложенный
    блок, содержащий пункты меню */
    ._itemsCell {
        grid-column: menu;
        grid-row: menu;
    }
    ._itemsContainer {
        display: flex;
        justify-content: flex-start;
        column-gap: 30px;
        @include fw.screen(phone) {
            column-gap: 20px;
        }
    }
    .__item {
        position: relative;
        list-style: none;
        padding: 10px 0;
        @include fw.font("am");
        font-size: 20px;
        @include fw.screen(phone) {
            padding: 7px 0;
            font-size: 18px;
        }
        a {
            text-decoration: none;
            color: fw.$gray-xxxl;
            &:active,
            &:hover,
            &:focus {
                color: black;
            }
        }
        .__active {
            color: black;
            &::after {
                position: absolute;
                content: "";
                height: 3px;
                width: 100%;
                background-color: fw.$orange;
                left: 0;
                top: 44px;
                @include fw.screen(phone) {
                    top: 36px;
                }
            }
        }
    }
}
