{% if user.userKey %}
<nav class="st-b-mainMenu js-b-mainMenu">
    <div class="_itemsCell st-c-scrollMenu js-c-scrollMenu">
        <div class="_itemsContainer">
            <li class="__item js-item"><a href="">{{ MainMenuBlock.dict.catalogTitle }}</a></li>
            <li class="__item js-item"><a href="">{{ MainMenuBlock.dict.goodsTitle }}</a></li>
            <li class="__item js-item"><a href="">{{ MainMenuBlock.dict.buyoutsTitle }}</a></li>
            <li class="__item js-item"><a href="">{{ MainMenuBlock.dict.buyersTitle }}</a></li>
            <li class="__item js-item"><a href="">{{ MainMenuBlock.dict.coursesTitle }}</a></li>
            <li class="__item js-item"><a
                    href="{{ MainMenuBlock.data.helpdeskUri }}">{{ MainMenuBlock.dict.helpdeskTitle }}</a>
            </li>
        </div>
    </div>
</nav>
{% endif %}