@use "../../../fw.scss";

.st-c-cookiesAlert {
    position: fixed;
    display: flex;
    box-sizing: border-box;
    gap: 10px;
    flex-direction: column;
    bottom: 15px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    /* Тень-обводка вокруг окна, создающая
        эффект приподнятости */
    box-shadow: 0 0 30px #00000050;
    border-radius: 5px;
    /* Без overflow прямоугольный контент
        будет перекрывать скругления */
    overflow: hidden;
    padding: 20px;
    z-index: 1000;
    width: 400px;
    @include fw.screen("phone") {
        width: 100%;
        border-radius: 0;
        bottom: 0;
        right: 0;
    }
    .__closeBtn {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 20px;
        height: 20px;
        @include fw.btn-image("./basics/components/CookiesAlertComp/img/cross.svg");
        cursor: pointer;
        z-index: 1001;
        opacity: 0.6;
        background-color: transparent;
        &:hover,
        &:active {
            opacity: 1;
        }
    }
    h1 {
        @include fw.font(ar);
        font-size: 20px;
        color: white;
    }
    p {
        @include fw.font(br);
        font-size: 15px;
        color: white;
    }
    a {
        @include fw.link(basic);
        font-size: 15px;
        color: white;
    }
    button {
        @include fw.btn("green", "l");
    }
}
