<!DOCTYPE html>
<html lang="ru">

<body>
    <%- include ../../blocks/HeaderBlock/HeaderBlockTempl.ejs -%>
    <%- include ../../blocks/MainMenuBlock/MainMenuBlockTempl.ejs -%>
    <main class="st-p-passwordResetNext">
        <div class="_image"></div>
        <div class="_content">
            <p class="_text">{{ dict.text }}</p>
        </div>
        {% if props.btnLink %}
        <div class="_wrapper">
            <a href="{{ props.btnLink }}" class="_btn">{{ dict.btnTitleText }}</a>
        </div>
        {% endif %}
    </main>
    <%- include ../../blocks/FooterBlock/FooterBlockTempl.ejs -%>
</body>

</html>