<form class="st-c-form js-form-passwordReset">
    <h1 class="_header">{{ FormPasswordResetBlock.dict.formHeader }}</h1>
    <div class="_message">
        <p>{{ FormPasswordResetBlock.dict.message }}</p>
    </div>
    <div class="_field st-c-textbox js-textbox-email">
        <input type="email" autocomplete="on" required autofocus><label>
            {{ FormPasswordResetBlock.dict.emailLabel }}
        </label>
    </div>
    <button type="button" class="_btnSend js-btnSend">{{ FormPasswordResetBlock.dict.btnActionText }}</button>
</form>