<!DOCTYPE html>
<html lang="ru">

<%- include ../blocks/head.ejs -%>

<body>
    <%- include ../blocks/header.ejs -%>
    <main class="gr-a-p-actionError st-a-p-actionError">
        <h1 class="_header __header">{{header}}</h1>
        <div class="_wrapper __wrapper">
            <p class="__text">{{content}}</p>
            <div class="__btnWrapper">
                <a class="__btn" href="{{btnLink}}">{{btnTitle}}</a>
            </div>
        </div>
        <p class="_errCode __errCode">{{errCode}}: {{errId}}</p>
    </main>
    <%- include ../blocks/footer.ejs -%>
</body>

</html>