<!DOCTYPE html>
<html lang="ru">

<%- include ../blocks/head.ejs -%>

<body>
    <%- include ../blocks/header.ejs -%>
    <main class="gr-a-p-error st-a-p-error">
        <div class="_image __image im-a-urlBroken"></div>
        <div class="_content __content">
            <p>{{content}}</p>
        </div>
    </main>
    <%- include ../blocks/footer.ejs -%>
</body>

</html>