<!DOCTYPE html>
<html lang="ru">

<%- include ../blocks/head.ejs -%>

<body>
    <%- include ../blocks/header.ejs -%>
    <%- include ../blocks/menu.ejs -%>
    <main class="gr-p-feedback st-p-feedback">
        <%- include ../forms/feedbackForm.ejs -%>
    </main>
    <%- include ../blocks/footer.ejs -%>
    <%- include ../blocks/cookies.ejs -%>
</body>

</html>