<!DOCTYPE html>
<html lang="ru">

<%- include ../blocks/head.ejs -%>

<body>
    <%- include ../blocks/header.ejs -%>
    <%- include ../blocks/menu.ejs -%>
    <main class="gr-p-firstIssue st-p-firstIssue">
        <div class="_btnLink __flexWrapper">
            <a href="" class="__btnLink">{{dict.createIssue}}</a>
        </div>
        <p class="_note __note">{{dict.note}}</p>
    </main>
    <%- include ../blocks/footer.ejs -%>
    <%- include ../blocks/cookies.ejs -%>
</body>

</html>