<!DOCTYPE html>
<html lang="ru">

<%- include ../blocks/head.ejs -%>

<body>
    <%- include ../blocks/header.ejs -%>
    <%- include ../blocks/menu.ejs -%>
    <main class="gr-p-createIssue st-p-createIssue">
        <%- include ../forms/createIssueForm.ejs -%>
    </main>
    <%- include ../blocks/footer.ejs -%>
    <%- include ../blocks/cookies.ejs -%>
</body>

</html>