<!DOCTYPE html>
<html lang="ru">

<%- include ../blocks/head.ejs -%>

<body>
    <%- include ../blocks/header.ejs -%>
    <%- include ../blocks/menu.ejs -%>
    <main class="gr-p-issueList st-p-issueList">
        <div class="_header __header gr-p-issueList--header">
            <h1 class="_h1 __h1">{{ dict.pageHeader }}</h1>
            <a href="/issue-create" class="_btnLink __btnLink">{{dict.createIssueButtonTitle}}</a>
        </div>

        {% if activeIssues %}
        <div class="_activeTeasers __teasersContainer">
            {% for item in activeIssues %}
            <div class="st-b-issueTeaser">
                <a href="/issues/{{ item.t_id }}" class="__title">{{ item.t_summary }}</a>
                <div class="__tags">
                    <span class="__status">{{ item.t_status_name }}</span>
                    <span class="__theme">{{ item.t_theme_title }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="_emptyMessage __emptyMessageBox">
            <p>{{ dict.emptyMessage }}</p>
        </div>
        {% endif %}

        {% if archivedIssues %}
        <div class="_archiveTeasers">
            <h2 class="__h2">{{ dict.archiveHeader }}</h2>
            <div class="__teasersContainer">
                {% for item in archivedIssues %}
                <div class="st-b-issueTeaser">
                    <a href="/issues/{{ item.t_id }}" class="__title">{{ item.t_summary }}</a>
                    <div class="__tags">
                        <span class="__status">{{ item.t_status_update }}</span>
                        <span class="__theme">{{ item.t_theme_title }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </main>
    <%- include ../blocks/footer.ejs -%>
    <%- include ../blocks/cookies.ejs -%>
</body>

</html>