<!DOCTYPE html>
<html lang="ru">

<%- include ../blocks/head.ejs -%>

<body>
    <%- include ../blocks/header.ejs -%>
    <main class="gr-p-login st-a-p-auth">
        {% if static.topMessage %}
        <div class="_message __message">
            Вы должны авторизоваться, чтобы выполнить это действие.
        </div>
        {% endif %}
        <%- include ../forms/loginForm.ejs -%>
        <div class="_links __links">
            <a href="/password/reset" class="__link">{{ rePass }}</a>
            <a href="/signup" class="__link">{{ signup }}</a>
        </div>
    </main>
    <%- include ../blocks/footer.ejs -%>
</body>

</html>