<!DOCTYPE html>
<html lang="ru">

<%- include ../blocks/head.ejs -%>

<body>
    <%- include ../blocks/header.ejs -%>
    <main class="gr-p-main st-p-main">
        <div class="_banner __banner">
            <p class="__bannerText">
                <b>dship</b> — {{ whoWeAre }}
            </p>
            <button class="__bannerBtn">{{joinCourse}}</button>
        </div>
        <h1 class="_howItWorks __howItWorks">{{ howItWorks }}</h1>
        <p class="_item1 __item1">
            {{step1}}
        </p>
        <p class="_item2 __item2">
            {{step2}}
        </p>
        <p class="_item3 __item3">
            {{step3}}
        </p>
        <p class="_item4 __item4">
            {{step4}}
        </p>
    </main>
    <%- include ../blocks/footer.ejs -%>
    <%- include ../blocks/cookies.ejs -%>
</body>

</html>