<!DOCTYPE html>
<html lang="ru">

<%- include ../blocks/head.ejs -%>

<body>
    <%- include ../blocks/header.ejs -%>
    <main class="gr-a-p-httpError st-a-p-httpError">
        <h1 class="_header __header">Такой страницы на сайте нет :(</h1>
        <div class="_content __content">
            <p class="__errorCode">404</p>
        </div>
    </main>
    <%- include ../blocks/footer.ejs -%>
</body>

</html>