<!DOCTYPE html>
<html lang="ru">

<%- include ../blocks/head.ejs -%>

<body>
    <%- include ../blocks/header.ejs -%>
    <%- include ../blocks/menu.ejs -%>
    <main class="gr-p-profile st-p-profile">
        <h1 class="_header __header">{{header}}</h1>
        <form action="" class="_content">
            <div class="__field st-c-viewbox js-viewbox-firstName">
                <input type="text" autocomplete="on" value="{{profile.firstName}}" disabled>
                <label>{{firstName}}</label>
            </div>
            <div class="__field st-c-viewbox js-viewbox-mobilePhone">
                <input type="tel" autocomplete="on" value="{{profile.mobilePhone}}" disabled>
                <label>{{mobilePhone}}</label>
            </div>
            <div class="__field st-c-viewbox js-viewbox-email">
                <input type="email" autocomplete="on" value="{{profile.email}}" disabled>
                <label>{{email}}</label>
            </div>
            <div class="__field st-c-viewbox js-viewbox-password">
                <input type="password" autocomplete="on" value="secret" disabled>
                <label>{{password}}</label>
                <a href="/password/set">
                    <div class="__edit"></div>
                </a>
            </div>
        </form>
        <div class="_links __links">
            <a href="" class="__link">Выйти из аккаунта</a>
        </div>
    </main>
    <%- include ../blocks/footer.ejs -%>
    <%- include ../blocks/cookies.ejs -%>
</body>

</html>