<!DOCTYPE html>
<html lang="ru">

<%- include ../blocks/head.ejs -%>

<body>
    <%- include ../blocks/header.ejs -%>
    <main class="gr-a-p-auth">
        <%- include ../forms/passwordSetForm.ejs -%>
    </main>
    <%- include ../blocks/footer.ejs -%>
</body>

</html>