<!DOCTYPE html>
<html lang="ru">

<%- include ../blocks/head.ejs -%>

<body>
    <%- include ../blocks/header.ejs -%>
    <main class="gr-a-p-auth st-a-p-auth">
        <%- include ../forms/signupForm.ejs -%>
        <div class="_links __links">
            <a href="/login" class="__link">Уже зарегистрированы?</a>
        </div>
    </main>
    <%- include ../blocks/footer.ejs -%>
</body>

</html>