<!DOCTYPE html>
<html lang="ru">

<%- include ../blocks/head.ejs -%>

<body>
    <%- include ../blocks/header.ejs -%>
    <main class="gr-p-success st-p-success">
        <div class="_image __image"></div>
        <div class="_content __content">
            <p class="__message">{{message}}</p>
        </div>
        {% if btnLink %}
        <div class="_wrapper __btnWrapper">
            <a href="{{btnLink}}" class="__btn">{{btnTitle}}</a>
        </div>
        {% endif %}
    </main>
    <%- include ../blocks/footer.ejs -%>
</body>

</html>