<header class="js-b-header">
    {% if user.userKey %}
    <div class="st-b-header--login">
        <span class="_logo">dship</span>
        <a href="{{ HeaderBlock.data.userProfilePageLink }}" class="_btnUserProfile">
            {{ HeaderBlock.dict.profileButtonText }}
        </a>
        <div class="_initLogoutButton js-btn-initLogout"></div>
    </div>
    {% else %}
    <div class="st-b-header--logout">
        <span class="_logo">dship</span>
        <a href="{{ HeaderBlock.data.signupPageLink }}" class="_btnReg">
            {{ HeaderBlock.dict.signupButtonText }}
        </a>
        <a href="{{ HeaderBlock.data.loginPageLink }}" class="_btnLogin">
            {{ HeaderBlock.dict.loginButtonText }}
        </a>
    </div>
    {% endif %}
</header>