@use "../../fw.scss";

.st-b-header--login {
    display: grid;
    grid-template-areas: "... logo ... userBalance btnUserProfile initLogoutButton  ...";
    grid-template-columns: 5% max-content 1fr max-content max-content max-content 5%;
    gap: 0;
    // st
    height: 65px;
    background-color: fw.$gray-xs;
    position: relative;
    @include fw.screen(phone) {
        height: 55px;
    }
    ._logo {
        grid-column: logo;
        grid-row: logo;
        align-self: center;
        color: fw.$blueviolet;
        @include fw.font("am");
        font-size: 40px;
        @include fw.screen("phone") {
            font-size: 30px;
        }
    }

    ._btnUserProfile {
        grid-column: btnUserProfile;
        grid-row: btnUserProfile;
        align-self: center;
        @include fw.btn("transparent-violet", "s");
    }

    ._initLogoutButton {
        grid-column: initLogoutButton;
        grid-row: initLogoutButton;
        align-self: center;
        height: 22px;
        width: 22px;
        margin-left: 15px;
        background: center no-repeat url(./blocks/HeaderBlock/img/logout.svg);
        cursor: pointer;
    }
}

.st-b-header--logout {
    display: grid;
    grid-template-areas: "... logo ... btnReg ... btnLogin ...";
    grid-template-columns: 5% max-content 1fr max-content 10px max-content 5%;
    gap: 0;
    // st
    height: 75px;
    background-color: fw.$blueviolet;
    position: relative;
    @include fw.screen(tablet) {
        height: 65px;
    }
    @include fw.screen(phone) {
        height: 55px;
    }
    ._logo {
        grid-column: logo;
        grid-row: logo;
        align-self: center;
        color: white;
        @include fw.font("am");
        @include fw.screen("desktop") {
            font-size: 42px;
        }
        @include fw.screen("phone") {
            font-size: 30px;
        }
        @include fw.screen("tablet") {
            font-size: 35px;
        }
    }
    ._btnReg {
        grid-column: btnReg;
        grid-row: btnReg;
        align-self: center;
        @include fw.btn("green", "m");
        @include fw.screen("phone") {
            @include fw.btn("green", "s");
        }
    }
    ._btnLogin {
        grid-column: btnLogin;
        grid-row: btnLogin;
        align-self: center;
        @include fw.btn("transparent-white", "s");
    }
}

.__overlayContent {
    width: 100%;
    height: 100%;
    display: flex;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    background-color: fw.$blueviolet;
    @include fw.screen(phone) {
        height: 55px;
    }
    .__text {
        @include fw.font("am");
        font-size: 22px;
        color: white;
        @include fw.screen("phone") {
            font-size: 16px;
        }
    }
    .__btn {
        align-self: center;
        @include fw.btn("transparent-white", "l");
        @include fw.screen("phone") {
            @include fw.btn("transparent-white", "s");
        }
    }
}
