<!DOCTYPE html>
<html lang="ru">

<body>
    <%- include ../../blocks/HeaderBlock/HeaderBlockTempl.ejs -%>
    <%- include ../../blocks/MainMenuBlock/MainMenuBlockTempl.ejs -%>
    <main class="st-s-pageException">
        <h1 class="_header">{{ dict.header }}</h1>
        <div class="_wrapper">
            <p class="_text">{{ dict.content }}</p>
            <div class="_btnWrapper">
                <a class="_btn" href="{{ data.btnLink }}">{{ dict.btnTitle }}</a>
            </div>
        </div>
        <p class="_errCode">{{ dict.errCodeLabel }}: {{ props.errId }}</p>
    </main>
    <%- include ../../blocks/FooterBlock/FooterBlockTempl.ejs -%>
</body>

</html>