@charset "UTF-8";
/* ===== RESETS ===== */
body {
  margin: 0;
  border: 0;
}

p,
ul,
h1,
h2,
h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

ul {
  padding-inline-start: 0;
}

hr {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* ===== CELLS LIB ===== */
/* Global */
.cell-logo {
  grid-column: logo;
  grid-row: logo;
}

.cell-header {
  grid-column: header;
  grid-row: header;
}

.cell-icon {
  grid-column: icon;
  grid-row: icon;
}

.cell-content {
  grid-column: content;
  grid-row: content;
}

/* Form Steps */
.cell-form-step-1 {
  grid-column: form-step-1;
  grid-row: form-step-1;
}

.cell-form-step-1-message {
  grid-column: form-step-1-message;
  grid-row: form-step-1-message;
}

.cell-form-step-fin {
  grid-column: form-step-fin;
  grid-row: form-step-fin;
}

.cell-fin-message {
  grid-column: fin-message;
  grid-row: fin-message;
}

.cell-form-step-err {
  grid-column: form-step-err;
  grid-row: form-step-err;
}

.cell-err-message {
  grid-column: err-message;
  grid-row: err-message;
}

.cell-topError {
  grid-column: topError;
  grid-row: topError;
}

/* Form controls */
.cell-password-checker {
  grid-column: password-checker;
  grid-row: password-checker;
}

/* Form fields */
.cell-form {
  grid-column: form;
  grid-row: form;
}

.cell-title {
  grid-column: title;
  grid-row: title;
}

.cell-server-err {
  grid-column: server-err;
  grid-row: server-err;
}

.cell-username {
  grid-column: username;
  grid-row: username;
}

.cell-email {
  grid-column: email;
  grid-row: email;
}

.cell-email-err {
  grid-column: email-err;
  grid-row: email-err;
}

.cell-phone {
  grid-column: phone;
  grid-row: phone;
}

.cell-phone-err {
  grid-column: phone-err;
  grid-row: phone-err;
}

.cell-user-password {
  grid-column: user-password;
  grid-row: user-password;
}

.cell-user-password-err {
  grid-column: user-password-err;
  grid-row: user-password-err;
}

.cell-user-password-repeat {
  grid-column: user-password-repeat;
  grid-row: user-password-repeat;
}

.cell-user-password-repeat-err {
  grid-column: user-password-repeat-err;
  grid-row: user-password-repeat-err;
}

/* Buttons */
.cell-btn-reg {
  grid-column: btn-reg;
  grid-row: btn-reg;
}

.cell-btn-auth {
  grid-column: btn-auth;
  grid-row: btn-auth;
}

.cell-btn-send {
  grid-column: btn-send;
  grid-row: btn-send;
}

.cell-btn-restart-form {
  grid-column: btn-restart-form;
  grid-row: btn-restart-form;
}

.cell-btn-link-to-auth {
  grid-column: btn-link-to-auth;
  grid-row: btn-link-to-auth;
}

/* ===== END OF CELLS LIB ===== */
.js-hide {
  display: none;
}

.js-hidden {
  visibility: hidden;
}

.js-transparent {
  opacity: 0;
}

/*
    Посольку все оверлеи имеют разные размеры, их начальное отрицательное позиционирование
    задается в соответствующих классах. Как и настройки анимации. На класс, который
    возвращает оверлей на место, универсален, поэтому находится в библиотеке
*/
.js-overlay-show {
  top: 0;
  left: 0;
  visibility: visible;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/a25806274237d06e00a6.woff2) format("woff2"), url(fonts/31012f9b3e3da44f87e8.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: Montserrat;
  src: url(fonts/dbf9cc3b5d0be6860367.woff2) format("woff2"), url(fonts/0329bf8fcbfdd06caa24.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: Montserrat;
  src: url(fonts/518803d3e08549d2d704.woff2) format("woff2"), url(fonts/498c8cdbbcd5264ad13c.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: Montserrat;
  src: url(fonts/c416eeaec33891f7c008.woff2) format("woff2"), url(fonts/1415d3efde4fddeccbca.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
.st-c-asyncButton ._loader::before {
  content: "";
  position: absolute;
  cursor: default;
  box-sizing: content-box;
  border-radius: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(svg/1d8b63ed8dd26186c267.svg) no-repeat;
  background-color: inherit;
  background-size: contain;
  background-position: center;
}

.st-c-alert {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}
.st-c-alert ._container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media screen and (max-width: 899px) {
  .st-c-alert ._container {
    width: 70%;
    margin-top: 10px;
  }
}
@media screen and (max-width: 450px) {
  .st-c-alert ._container {
    width: 90%;
    margin-top: 5px;
  }
}
.st-c-alert ._item {
  display: grid;
  grid-template-columns: 1fr max-content;
  margin-top: 10px;
  padding: 10px;
  background-color: #d92b31cc;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0 0 15px #00000040;
  transition: opacity 0.5s;
}
.st-c-alert ._message {
  grid-column: 1/2;
  align-self: center;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
}
.st-c-alert ._remove {
  grid-column: 2/3;
  align-self: flex-start;
  background: center no-repeat url(svg/f6cd76bf533990be6d86.svg);
  cursor: pointer;
  appearance: none;
  border: none;
  width: 25px;
  height: 25px;
}

.st-c-form {
  position: relative;
  border: #ccc solid 1px;
  border-radius: 7px;
  padding: 35px 25px 30px 25px;
}
@media screen and (max-width: 450px) {
  .st-c-form {
    padding: 20px 0 30px 0;
    border-color: transparent;
  }
}
.st-c-form ._header {
  position: absolute;
  top: -18px;
  left: 18px;
  background-color: white;
  padding: 0 5px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
}
@media screen and (max-width: 450px) {
  .st-c-form ._header {
    font-size: 22px;
    left: -8px;
    top: -25px;
  }
}
.st-c-form ._message {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  padding-bottom: 20px;
}
.st-c-form ._groupHorizontal {
  border: 0px;
  display: flex;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-end: 0;
  padding-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  gap: 15px;
}
@media screen and (max-width: 600px) {
  .st-c-form ._groupHorizontal {
    flex-direction: column;
    gap: 0;
  }
}
.st-c-form ._field {
  margin-bottom: 15px;
}
.st-c-form ._passwordChecker {
  margin-top: 0;
  margin-bottom: 15px;
}
.st-c-form ._checkbox {
  margin-bottom: 15px;
}
.st-c-form ._btnSend {
  background-color: #35cb00;
  border: #35cb00;
  color: white;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  padding: 10px 18px;
}
.st-c-form ._btnSend:active, .st-c-form ._btnSend:focus, .st-c-form ._btnSend:hover {
  opacity: 95%;
}
.st-c-form ._btnSend:active {
  background-color: #35cb00;
  text-shadow: white 1px 1px;
  color: transparent;
}
.st-c-form ._btnSend[disabled], .st-c-form ._btnSend[disabled]:active, .st-c-form ._btnSend[disabled]:focus, .st-c-form ._btnSend[disabled]:hover {
  cursor: not-allowed;
  background-color: #ccc;
  text-shadow: none;
  color: white;
  opacity: 100%;
}
@media screen and (max-width: 450px) {
  .st-c-form ._btnSend {
    width: 100%;
  }
}
.st-c-form .js-topError {
  background-color: tomato;
  color: white;
  margin-bottom: 12px;
  padding: 5px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  border-color: inherit;
}

.st-c-passwordChecker {
  width: 100%;
  position: relative;
}
.st-c-passwordChecker ul {
  position: relative;
  list-style: none;
  padding-left: 0;
  padding-top: 5px;
  background-color: #ffffc7;
  border-radius: 2px;
  border: 1px solid #60b88d;
}
.st-c-passwordChecker li {
  position: relative;
  appearance: none;
  padding: 0 0 5px 10px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
}
.st-c-passwordChecker span.triangle {
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  top: -7px;
  left: 20px;
  border-bottom: 16px solid transparent;
  border-left: 16px solid #ffffc7;
  transform: rotate(45deg);
}
.st-c-passwordChecker span.triangle::before {
  content: "";
  display: block;
  position: absolute;
  top: 7.5px;
  left: -24.5px;
  width: 16px;
  border-top: 1px solid #60b88d;
  transform: rotate(90deg);
}
.st-c-passwordChecker span.triangle::after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -17px;
  width: 17px;
  border-top: 1px solid #60b88d;
}

.st-c-teaserList {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.st-c-teaserList ._imageItem {
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 5px;
}
@media screen and (max-width: 450px) {
  .st-c-teaserList ._imageItem {
    height: 100px;
  }
}

.st-c-modalWindow {
  display: grid;
  grid-template-areas: "...      ...         ..." "...      windowEl    ..." "...      ...         ...";
  /* Высота и ширина окна зависят от конечного содержимого
  (контента). Например, помещенного в окно изображения */
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 7vh max-content 15vh;
  justify-items: center;
  overflow: hidden;
  gap: 0;
  /* На мобильных устройствах окно занимает
  все видимое пространство */
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  background-color: #00000070;
  cursor: pointer;
}
@media screen and (max-width: 450px) {
  .st-c-modalWindow {
    grid-template-columns: 0 1fr 0;
    grid-template-rows: 0 100% 0;
  }
}
.st-c-modalWindow ._window {
  grid-column: windowEl;
  grid-row: windowEl;
  position: relative;
  background-color: white;
  /* Тень-обводка вокруг окна, создающая
  эффект приподнятости */
  box-shadow: 0 0 30px #00000050;
  border-radius: 5px;
  /* Без overflow прямоугольный контент
  будет перекрывать скругления */
  overflow: hidden;
  max-width: 100%;
  /* Сбрасываем настройки курсора,
  которые были заданные для фона */
  cursor: auto;
}
@media screen and (max-width: 450px) {
  .st-c-modalWindow ._window {
    border-radius: 0;
  }
}
.st-c-modalWindow ._window ._header {
  display: flex;
  /* Сбрасываются возможные отступы
  из родительских элементов */
  margin: auto;
  /* Задаем отступ для пиктограммы
  закрытия окна */
  padding-top: 5px;
  padding-right: 5px;
}
.st-c-modalWindow ._window ._header ._title {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  justify-self: left;
}
.st-c-modalWindow ._window ._header ._closeBtn {
  justify-self: right;
  width: 25px;
  height: 25px;
  display: block;
  cursor: pointer;
  border: none;
  appearance: none;
  padding: 0;
  background: url(svg/f6cd76bf533990be6d86.svg) no-repeat;
  background-color: inherit;
  background-size: contain;
  background-position: center;
  /* Прижимает элемент к правой
  границе флекс-контейнера */
  margin-left: auto;
}
.st-c-modalWindow ._window ._content {
  position: relative;
}

.st-c-chatThread ._messageContainer {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
.st-c-chatThread ._messageContainer:last-child {
  border-bottom: none;
}
.st-c-chatThread ._messageContainer p {
  position: relative;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  text-align: start;
}
.st-c-chatThread ._messageContainer p::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  left: -14px;
  background-color: #ff7a00;
}
.st-c-chatThread ._formInput {
  margin-bottom: 10px;
}
.st-c-chatThread ._formBtnSend {
  background-color: #35cb00;
  border: #35cb00;
  color: white;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  padding: 8px 15px;
}
.st-c-chatThread ._formBtnSend:active, .st-c-chatThread ._formBtnSend:focus, .st-c-chatThread ._formBtnSend:hover {
  opacity: 95%;
}
.st-c-chatThread ._formBtnSend:active {
  background-color: #35cb00;
  text-shadow: white 1px 1px;
  color: transparent;
}
.st-c-chatThread ._formBtnSend[disabled], .st-c-chatThread ._formBtnSend[disabled]:active, .st-c-chatThread ._formBtnSend[disabled]:focus, .st-c-chatThread ._formBtnSend[disabled]:hover {
  cursor: not-allowed;
  background-color: #ccc;
  text-shadow: none;
  color: white;
  opacity: 100%;
}

.st-c-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: top 0.3s, visibility 0.3s;
  z-index: 1;
}

.st-c-cookiesAlert {
  position: fixed;
  display: flex;
  box-sizing: border-box;
  gap: 10px;
  flex-direction: column;
  bottom: 15px;
  right: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  /* Тень-обводка вокруг окна, создающая
      эффект приподнятости */
  box-shadow: 0 0 30px #00000050;
  border-radius: 5px;
  /* Без overflow прямоугольный контент
      будет перекрывать скругления */
  overflow: hidden;
  padding: 20px;
  z-index: 1000;
  width: 400px;
}
@media screen and (max-width: 450px) {
  .st-c-cookiesAlert {
    width: 100%;
    border-radius: 0;
    bottom: 0;
    right: 0;
  }
}
.st-c-cookiesAlert .__closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
  border: none;
  appearance: none;
  padding: 0;
  background: url(svg/99ee6835cf4e73b03af1.svg) no-repeat;
  background-color: inherit;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  z-index: 1001;
  opacity: 0.6;
  background-color: transparent;
}
.st-c-cookiesAlert .__closeBtn:hover, .st-c-cookiesAlert .__closeBtn:active {
  opacity: 1;
}
.st-c-cookiesAlert h1 {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  color: white;
}
.st-c-cookiesAlert p {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  color: white;
}
.st-c-cookiesAlert a {
  display: inline-block;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: inherit;
  font-size: 15px;
  color: white;
}
.st-c-cookiesAlert a:hover, .st-c-cookiesAlert a:focus, .st-c-cookiesAlert a:active {
  opacity: 80%;
}
.st-c-cookiesAlert button {
  background-color: #35cb00;
  border: #35cb00;
  color: white;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  padding: 10px 18px;
}
.st-c-cookiesAlert button:active, .st-c-cookiesAlert button:focus, .st-c-cookiesAlert button:hover {
  opacity: 95%;
}
.st-c-cookiesAlert button:active {
  background-color: #35cb00;
  text-shadow: white 1px 1px;
  color: transparent;
}
.st-c-cookiesAlert button[disabled], .st-c-cookiesAlert button[disabled]:active, .st-c-cookiesAlert button[disabled]:focus, .st-c-cookiesAlert button[disabled]:hover {
  cursor: not-allowed;
  background-color: #ccc;
  text-shadow: none;
  color: white;
  opacity: 100%;
}

.st-c-scrollBox {
  user-select: none;
  /*
  Кроп выносится на корневой уровень компонента,
  иначе, при смещении влево, меню начинает
  пробивать отступ от левого края страницы.
  Это приводит к тому, что при начальном
  marginLeft, отличном от нуля, мы каждый раз
  получаем разные значения offsetWidth
  для контейенера с пунктами меню.
  */
  overflow-x: clip;
}

.st-c-cascadeSelect {
  position: relative;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}
.st-c-cascadeSelect ._selectsWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.st-c-cascadeSelect ._select {
  border: #ccc solid 1px;
  border-radius: 2px;
}
.st-c-cascadeSelect button {
  position: relative;
  appearance: none;
  width: 100%;
  height: 50px;
  font-size: 18px;
  box-sizing: border-box;
  margin: 0;
  padding: 2px 0 0 10px;
  text-align: start;
  cursor: pointer;
  background-color: white;
  border: none;
}
.st-c-cascadeSelect button:active {
  text-shadow: black 1px 1px;
  color: transparent;
}
.st-c-cascadeSelect button::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 9px 0 9px;
  border-color: #bbb transparent transparent transparent;
}
.st-c-cascadeSelect ul {
  position: relative;
  display: none;
  padding: 7.5px 0;
  border-top: 1px solid #ccc;
}
.st-c-cascadeSelect ul li {
  list-style-type: none;
  padding: 7.5px 0 7.5px 15px;
  cursor: pointer;
}
.st-c-cascadeSelect ul li:hover, .st-c-cascadeSelect ul li:active, .st-c-cascadeSelect ul li:focus {
  background-color: #eee;
}
.st-c-cascadeSelect .js-showItems button::after {
  content: "";
  top: 19px;
  border-width: 0 9px 11px 9px;
  border-color: transparent transparent #bbb transparent;
}
.st-c-cascadeSelect .js-showItems ul {
  display: block;
}
.st-c-cascadeSelect .js-active {
  display: none;
}
.st-c-cascadeSelect.js-fieldError > div {
  border: tomato solid 1px;
}
.st-c-cascadeSelect.js-fieldError > p {
  background-color: tomato;
  color: white;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  padding: 3px 3px 3px 5px;
  margin-top: -1px;
}

/*
Идея в том, что нативный чекбокс скрывается, а из элемента span "выезжают" кастомные
варианты для активного и не активного чекбокса, которые увязываются с состоянием
чекбокса нативного.
*/
.st-c-checkbox label {
  display: inline-block;
  /* Включаем относительное позиционирование, чтобы выравнивать по этому 
  родителю дочерние абсолютно позиционированные элементы */
  position: relative;
  left: 0;
  top: 0;
  /* Преобразование курсора */
  cursor: pointer;
  /*Стиль чекбокса при наведении курсора*/
}
.st-c-checkbox label:focus span::before, .st-c-checkbox label:hover span::before {
  border-color: #bbb;
}
.st-c-checkbox input {
  position: absolute;
  appearance: none;
  opacity: 0;
  /* Плюс указывает, что стиль следует применить
  к ближайшему тег справа на том же уровне */
}
.st-c-checkbox input:checked + span::after {
  opacity: 1;
}
.st-c-checkbox span {
  display: inline-block;
  position: relative;
  left: 0;
  top: 0;
  /*Освобождаем место для псевдо-тегов*/
  padding-left: 28px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  /*Активный чекбокс*/
  /*Активный чекборкс, который находится поверх не активного, но по умолчанию не виден*/
}
.st-c-checkbox span::before {
  content: "";
  position: absolute;
  /*Чтобы тег можно было "нарисовать", он должен быть блочным*/
  display: inline-block;
  border: #ccc solid 1px;
  border-radius: 2px;
  height: 18px;
  width: 18px;
  left: 0px;
  top: -1px;
}
.st-c-checkbox span::after {
  content: "";
  position: absolute;
  display: inline-block;
  opacity: 0;
  background: center no-repeat url(svg/f36f2240da506b977f83.svg);
  border: #ccc solid 1px;
  /*Размеры должны строго совпадать с ::before, т.к. они накладываются*/
  border-radius: 2px;
  height: 18px;
  width: 18px;
  left: 0;
  top: -1px;
}
.st-c-checkbox.js-fieldError > input {
  border: tomato solid 1px;
}
.st-c-checkbox.js-fieldError > p {
  background-color: tomato;
  color: white;
}

.st-c-multifile {
  position: relative;
}
.st-c-multifile ._wrapper {
  border: 1px solid #ddd;
  border-radius: 3px;
}
.st-c-multifile label {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 15px;
}
.st-c-multifile label:hover, .st-c-multifile label:active, .st-c-multifile label:focus {
  background-color: #eee;
}
.st-c-multifile label ._upload {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 18px;
  border-bottom: 1px dotted #8f8f8f;
}
.st-c-multifile input {
  opacity: 0;
  position: absolute;
  width: 1px;
}
.st-c-multifile ._gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
}
.st-c-multifile ._teaser {
  display: grid;
  grid-template-areas: "img fileName remove" "img fileSize ...";
  grid-template-rows: max-content 1fr max-content;
  justify-content: space-between;
  column-gap: 10px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
.st-c-multifile ._teaser:last-child {
  margin-bottom: 10px;
}
.st-c-multifile ._teaser img {
  grid-column: img;
  grid-row: img;
  border-radius: 3px;
  width: 50px;
  height: auto;
}
.st-c-multifile ._teaser ._fileName {
  grid-column: fileName;
  grid-row: fileName;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  font-size: 14px;
  color: #8f8f8f;
}
.st-c-multifile ._teaser ._fileSize {
  grid-column: fileSize;
  grid-row: fileSize;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #8f8f8f;
}
.st-c-multifile ._teaser ._remove {
  grid-column: remove;
  grid-row: remove;
  border-radius: 3px;
  background: center no-repeat url(svg/f6cd76bf533990be6d86.svg);
  cursor: pointer;
  height: 20px;
  width: 20px;
  opacity: 75%;
}
.st-c-multifile ._teaser ._remove:hover, .st-c-multifile ._teaser ._remove:active, .st-c-multifile ._teaser ._remove:focus {
  opacity: 100%;
}
@media screen and (max-width: 450px) {
  .st-c-multifile ._teaser {
    grid-template-areas: "img      remove" "fileName ..." "fileSize ...";
    grid-template-rows: 1fr max-content;
    justify-items: center;
  }
}
.st-c-multifile .js-disabled {
  cursor: not-allowed;
}
.st-c-multifile .js-disabled ._upload {
  color: #ddd;
  border-bottom: none;
}
.st-c-multifile.js-fieldError > ._wrapper {
  border: tomato solid 1px;
}
.st-c-multifile.js-fieldError > p {
  background-color: tomato;
  color: white;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  padding: 3px 3px 3px 5px;
  margin-top: -5px;
}

.st-c-tapSelect {
  position: relative;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}
.st-c-tapSelect ._select {
  border: #ccc solid 1px;
  border-radius: 2px;
}
.st-c-tapSelect ._button {
  position: relative;
  appearance: none;
  width: 100%;
  height: 50px;
  font-size: 18px;
  box-sizing: border-box;
  margin: 0;
  padding: 2px 0 0 10px;
  text-align: start;
  cursor: pointer;
  background-color: white;
  border: none;
}
.st-c-tapSelect ._button:active {
  text-shadow: black 1px 1px;
  color: transparent;
}
.st-c-tapSelect ul {
  position: relative;
  display: none;
  padding: 7.5px 0;
  border-top: 1px solid #ccc;
}
.st-c-tapSelect ul li {
  list-style-type: none;
  padding: 7.5px 0 7.5px 15px;
  cursor: pointer;
}
.st-c-tapSelect ul li:hover, .st-c-tapSelect ul li:active, .st-c-tapSelect ul li:focus {
  background-color: #eee;
}
.st-c-tapSelect .js-showItems::after {
  content: "";
  top: 19px;
  border-width: 0 9px 11px 9px;
  border-color: transparent transparent #bbb transparent;
}
.st-c-tapSelect .js-active {
  display: none;
}
.st-c-tapSelect.js-fieldError > div {
  border: tomato solid 1px;
}
.st-c-tapSelect.js-fieldError > p {
  background-color: tomato;
  color: white;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  padding: 3px 3px 3px 5px;
  margin-top: -1px;
}

.st-c-textarea {
  position: relative;
  width: 100%;
}
.st-c-textarea textarea {
  border: 1px solid #ccc;
  border-radius: 2px;
  overflow: auto;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  padding: 25px 10px 10px 10px;
  width: 100%;
  resize: vertical;
}
.st-c-textarea textarea:focus, .st-c-textarea textarea:active {
  border-color: #8f8f8f;
  outline: none;
}
.st-c-textarea textarea:focus ~ label, .st-c-textarea textarea:valid ~ label {
  font-size: 12px;
  top: 6px;
  color: #ccc;
  transition: 0.5s;
}
.st-c-textarea label {
  position: absolute;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: #bbb;
  top: 14px;
  left: 0px;
  padding-left: 10px;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
.st-c-textarea.js-fieldError > textarea {
  border: tomato solid 1px;
}
.st-c-textarea.js-fieldError > p {
  background-color: tomato;
  color: white;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  padding: 3px 3px 3px 5px;
  margin-top: -5px;
}

.st-c-textbox {
  position: relative;
  width: 100%;
}
.st-c-textbox input {
  appearance: none;
  outline: none;
  height: 50px;
  width: 100%;
  font-size: 18px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 10px;
  border: #ccc solid 1px;
  border-radius: 2px;
}
.st-c-textbox input:focus, .st-c-textbox input:active {
  border-color: #8f8f8f;
  outline: none;
}
.st-c-textbox input:focus ~ label, .st-c-textbox input:valid ~ label {
  font-size: 12px;
  top: 6px;
  color: #ccc;
  transition: 0.5s;
}
.st-c-textbox label {
  position: absolute;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: #bbb;
  top: 14px;
  left: 0px;
  padding-left: 10px;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
.st-c-textbox.js-fieldError > input {
  border: tomato solid 1px;
}
.st-c-textbox.js-fieldError > p {
  background-color: tomato;
  color: white;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  padding: 3px 3px 3px 5px;
  margin-top: -1px;
}

.st-c-inputPassword {
  position: relative;
  width: 100%;
}
.st-c-inputPassword input {
  appearance: none;
  outline: none;
  height: 50px;
  width: 100%;
  font-size: 18px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 10px;
  border: #ccc solid 1px;
  border-radius: 2px;
}
.st-c-inputPassword input:focus, .st-c-inputPassword input:active {
  border-color: #8f8f8f;
  outline: none;
}
.st-c-inputPassword input:focus ~ label, .st-c-inputPassword input:valid ~ label {
  font-size: 12px;
  top: 6px;
  color: #ccc;
  transition: 0.5s;
}
.st-c-inputPassword label {
  position: absolute;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: #bbb;
  top: 14px;
  left: 0px;
  padding-left: 10px;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
.st-c-inputPassword ._toggle {
  position: absolute;
  cursor: pointer;
  top: 17px;
  right: 10px;
}
.st-c-inputPassword.js-fieldError > input {
  border: tomato solid 1px;
}
.st-c-inputPassword.js-fieldError > p {
  background-color: tomato;
  color: white;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  padding: 3px 3px 3px 5px;
  margin-top: -1px;
}

.st-c-viewbox {
  position: relative;
  width: 100%;
}
.st-c-viewbox input {
  appearance: none;
  outline: none;
  height: 55px;
  width: 100%;
  font-size: 18px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 10px;
  border: #ccc solid 1px;
  border-radius: 2px;
}
.st-c-viewbox input:focus, .st-c-viewbox input:active {
  border-color: #8f8f8f;
  outline: none;
}
@media screen and (max-width: 899px) {
  .st-c-viewbox input {
    height: 50px;
  }
}
.st-c-viewbox label {
  position: absolute;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  color: #bbb;
  top: 6px;
  left: 0px;
  padding-left: 10px;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
.st-c-viewbox ._edit {
  position: absolute;
  background: center no-repeat url(svg/c68e0872cb83a32f04f5.svg);
  cursor: pointer;
  height: 30px;
  width: 30px;
  top: 13px;
  right: 10px;
}
@media screen and (max-width: 899px) {
  .st-c-viewbox ._edit {
    top: 10px;
  }
}

.st-b-footer {
  display: grid;
  grid-template-areas: "line" "text";
  grid-template-columns: 1fr;
  gap: 0;
  position: relative;
}
.st-b-footer ._line {
  grid-column: line;
  grid-row: line;
  margin-block-end: 10px;
  color: #ddd;
  background-color: #ddd;
  height: 1px;
  width: 100%;
  align-self: center;
  border: 0 none;
}
.st-b-footer ._text {
  grid-column: text;
  grid-row: text;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  justify-self: center;
  text-align: center;
  color: #ccc;
}
.st-b-footer .st-b-footer--cookiesWindow {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.st-b-footer .st-b-footer--cookiesWindow h1 {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 19px;
}
.st-b-footer .st-b-footer--cookiesWindow p {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
}
.st-b-footer .st-b-footer--cookiesWindow a {
  display: inline-block;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: inherit;
  font-size: 15px;
}
.st-b-footer .st-b-footer--cookiesWindow a:hover, .st-b-footer .st-b-footer--cookiesWindow a:focus, .st-b-footer .st-b-footer--cookiesWindow a:active {
  opacity: 80%;
}
.st-b-footer .st-b-footer--cookiesWindow button {
  background-color: #35cb00;
  border: #35cb00;
  color: white;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  padding: 10px 18px;
}
.st-b-footer .st-b-footer--cookiesWindow button:active, .st-b-footer .st-b-footer--cookiesWindow button:focus, .st-b-footer .st-b-footer--cookiesWindow button:hover {
  opacity: 95%;
}
.st-b-footer .st-b-footer--cookiesWindow button:active {
  background-color: #35cb00;
  text-shadow: white 1px 1px;
  color: transparent;
}
.st-b-footer .st-b-footer--cookiesWindow button[disabled], .st-b-footer .st-b-footer--cookiesWindow button[disabled]:active, .st-b-footer .st-b-footer--cookiesWindow button[disabled]:focus, .st-b-footer .st-b-footer--cookiesWindow button[disabled]:hover {
  cursor: not-allowed;
  background-color: #ccc;
  text-shadow: none;
  color: white;
  opacity: 100%;
}

.st-b-header--login {
  display: grid;
  grid-template-areas: "... logo ... userBalance btnUserProfile initLogoutButton  ...";
  grid-template-columns: 5% max-content 1fr max-content max-content max-content 5%;
  gap: 0;
  height: 65px;
  background-color: #eee;
  position: relative;
}
@media screen and (max-width: 450px) {
  .st-b-header--login {
    height: 55px;
  }
}
.st-b-header--login ._logo {
  grid-column: logo;
  grid-row: logo;
  align-self: center;
  color: #2400ff;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
}
@media screen and (max-width: 450px) {
  .st-b-header--login ._logo {
    font-size: 30px;
  }
}
.st-b-header--login ._btnUserProfile {
  grid-column: btnUserProfile;
  grid-row: btnUserProfile;
  align-self: center;
  background-color: transparent;
  border: #2400ff solid 1px;
  color: #2400ff;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  padding: 5px 10px;
}
.st-b-header--login ._btnUserProfile:active, .st-b-header--login ._btnUserProfile:focus, .st-b-header--login ._btnUserProfile:hover {
  opacity: 85%;
}
.st-b-header--login ._btnUserProfile:active {
  background-color: #2400ff;
  text-shadow: white 1px 1px;
  color: white;
}
.st-b-header--login ._btnUserProfile[disabled], .st-b-header--login ._btnUserProfile[disabled]:active, .st-b-header--login ._btnUserProfile[disabled]:focus, .st-b-header--login ._btnUserProfile[disabled]:hover {
  cursor: not-allowed;
  background-color: #ccc;
  text-shadow: none;
  color: white;
  opacity: 100%;
}
.st-b-header--login ._initLogoutButton {
  grid-column: initLogoutButton;
  grid-row: initLogoutButton;
  align-self: center;
  height: 22px;
  width: 22px;
  margin-left: 15px;
  background: center no-repeat url(svg/8e462f68438b12c3a1c3.svg);
  cursor: pointer;
}

.st-b-header--logout {
  display: grid;
  grid-template-areas: "... logo ... btnReg ... btnLogin ...";
  grid-template-columns: 5% max-content 1fr max-content 10px max-content 5%;
  gap: 0;
  height: 75px;
  background-color: #2400ff;
  position: relative;
}
@media screen and (max-width: 899px) {
  .st-b-header--logout {
    height: 65px;
  }
}
@media screen and (max-width: 450px) {
  .st-b-header--logout {
    height: 55px;
  }
}
.st-b-header--logout ._logo {
  grid-column: logo;
  grid-row: logo;
  align-self: center;
  color: white;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}
@media screen and (min-width: 900px) {
  .st-b-header--logout ._logo {
    font-size: 42px;
  }
}
@media screen and (max-width: 450px) {
  .st-b-header--logout ._logo {
    font-size: 30px;
  }
}
@media screen and (max-width: 899px) {
  .st-b-header--logout ._logo {
    font-size: 35px;
  }
}
.st-b-header--logout ._btnReg {
  grid-column: btnReg;
  grid-row: btnReg;
  align-self: center;
  background-color: #35cb00;
  border: #35cb00;
  color: white;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  padding: 8px 15px;
}
.st-b-header--logout ._btnReg:active, .st-b-header--logout ._btnReg:focus, .st-b-header--logout ._btnReg:hover {
  opacity: 95%;
}
.st-b-header--logout ._btnReg:active {
  background-color: #35cb00;
  text-shadow: white 1px 1px;
  color: transparent;
}
.st-b-header--logout ._btnReg[disabled], .st-b-header--logout ._btnReg[disabled]:active, .st-b-header--logout ._btnReg[disabled]:focus, .st-b-header--logout ._btnReg[disabled]:hover {
  cursor: not-allowed;
  background-color: #ccc;
  text-shadow: none;
  color: white;
  opacity: 100%;
}
@media screen and (max-width: 450px) {
  .st-b-header--logout ._btnReg {
    background-color: #35cb00;
    border: #35cb00;
    color: white;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    padding: 5px 10px;
  }
  .st-b-header--logout ._btnReg:active, .st-b-header--logout ._btnReg:focus, .st-b-header--logout ._btnReg:hover {
    opacity: 95%;
  }
  .st-b-header--logout ._btnReg:active {
    background-color: #35cb00;
    text-shadow: white 1px 1px;
    color: transparent;
  }
  .st-b-header--logout ._btnReg[disabled], .st-b-header--logout ._btnReg[disabled]:active, .st-b-header--logout ._btnReg[disabled]:focus, .st-b-header--logout ._btnReg[disabled]:hover {
    cursor: not-allowed;
    background-color: #ccc;
    text-shadow: none;
    color: white;
    opacity: 100%;
  }
}
.st-b-header--logout ._btnLogin {
  grid-column: btnLogin;
  grid-row: btnLogin;
  align-self: center;
  background-color: transparent;
  border: white solid 1px;
  color: white;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  padding: 5px 10px;
}
.st-b-header--logout ._btnLogin:active, .st-b-header--logout ._btnLogin:focus, .st-b-header--logout ._btnLogin:hover {
  opacity: 85%;
}
.st-b-header--logout ._btnLogin:active {
  background-color: transparent;
  text-shadow: white 1px 1px;
  color: transparent;
}
.st-b-header--logout ._btnLogin[disabled], .st-b-header--logout ._btnLogin[disabled]:active, .st-b-header--logout ._btnLogin[disabled]:focus, .st-b-header--logout ._btnLogin[disabled]:hover {
  cursor: not-allowed;
  background-color: #ccc;
  text-shadow: none;
  color: white;
  opacity: 100%;
}

.__overlayContent {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 15px;
  justify-content: center;
  align-items: center;
  background-color: #2400ff;
}
@media screen and (max-width: 450px) {
  .__overlayContent {
    height: 55px;
  }
}
.__overlayContent .__text {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  color: white;
}
@media screen and (max-width: 450px) {
  .__overlayContent .__text {
    font-size: 16px;
  }
}
.__overlayContent .__btn {
  align-self: center;
  background-color: transparent;
  border: white solid 1px;
  color: white;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  padding: 10px 18px;
}
.__overlayContent .__btn:active, .__overlayContent .__btn:focus, .__overlayContent .__btn:hover {
  opacity: 85%;
}
.__overlayContent .__btn:active {
  background-color: transparent;
  text-shadow: white 1px 1px;
  color: transparent;
}
.__overlayContent .__btn[disabled], .__overlayContent .__btn[disabled]:active, .__overlayContent .__btn[disabled]:focus, .__overlayContent .__btn[disabled]:hover {
  cursor: not-allowed;
  background-color: #ccc;
  text-shadow: none;
  color: white;
  opacity: 100%;
}
@media screen and (max-width: 450px) {
  .__overlayContent .__btn {
    background-color: transparent;
    border: white solid 1px;
    color: white;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    padding: 5px 10px;
  }
  .__overlayContent .__btn:active, .__overlayContent .__btn:focus, .__overlayContent .__btn:hover {
    opacity: 85%;
  }
  .__overlayContent .__btn:active {
    background-color: transparent;
    text-shadow: white 1px 1px;
    color: transparent;
  }
  .__overlayContent .__btn[disabled], .__overlayContent .__btn[disabled]:active, .__overlayContent .__btn[disabled]:focus, .__overlayContent .__btn[disabled]:hover {
    cursor: not-allowed;
    background-color: #ccc;
    text-shadow: none;
    color: white;
    opacity: 100%;
  }
}

.st-b-issueList {
  display: flex;
  flex-direction: column;
}
.st-b-issueList ._header {
  display: grid;
  grid-template-areas: " h1 ... btnLink";
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: max-content;
  gap: 0;
  margin-bottom: 15px;
}
@media screen and (max-width: 450px) {
  .st-b-issueList ._header {
    grid-template-areas: "h1" "btnLink";
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    gap: 10px;
  }
}
.st-b-issueList ._header ._h1 {
  grid-column: h1;
  grid-row: h1;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 26px;
  color: black;
}
@media screen and (max-width: 450px) {
  .st-b-issueList ._header ._h1 {
    font-size: 22px;
  }
}
.st-b-issueList ._header ._btnLink {
  grid-column: btnLink;
  grid-row: btnLink;
  background-color: #35cb00;
  border: #35cb00;
  color: white;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  padding: 8px 15px;
}
.st-b-issueList ._header ._btnLink:active, .st-b-issueList ._header ._btnLink:focus, .st-b-issueList ._header ._btnLink:hover {
  opacity: 95%;
}
.st-b-issueList ._header ._btnLink:active {
  background-color: #35cb00;
  text-shadow: white 1px 1px;
  color: transparent;
}
.st-b-issueList ._header ._btnLink[disabled], .st-b-issueList ._header ._btnLink[disabled]:active, .st-b-issueList ._header ._btnLink[disabled]:focus, .st-b-issueList ._header ._btnLink[disabled]:hover {
  cursor: not-allowed;
  background-color: #ccc;
  text-shadow: none;
  color: white;
  opacity: 100%;
}
.st-b-issueList ._h2 {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  color: black;
  margin-top: 25px;
}
@media screen and (max-width: 450px) {
  .st-b-issueList ._h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 450px) {
  .st-b-issueList ._h2 {
    margin-top: 15px;
  }
}
.st-b-issueList ._issueTeasersWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}
.st-b-issueList .__loadButton {
  background-color: #35cb00;
  border: #35cb00;
  color: white;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  padding: 8px 15px;
  width: 100%;
  margin-top: 15px;
}
.st-b-issueList .__loadButton:active, .st-b-issueList .__loadButton:focus, .st-b-issueList .__loadButton:hover {
  opacity: 95%;
}
.st-b-issueList .__loadButton:active {
  background-color: #35cb00;
  text-shadow: white 1px 1px;
  color: transparent;
}
.st-b-issueList .__loadButton[disabled], .st-b-issueList .__loadButton[disabled]:active, .st-b-issueList .__loadButton[disabled]:focus, .st-b-issueList .__loadButton[disabled]:hover {
  cursor: not-allowed;
  background-color: #ccc;
  text-shadow: none;
  color: white;
  opacity: 100%;
}
.st-b-issueList ._issueTeaser {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
}
@media screen and (max-width: 450px) {
  .st-b-issueList ._issueTeaser {
    padding: 10px;
  }
}
.st-b-issueList ._issueTeaser ._title {
  display: inline-block;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: #333;
  padding-bottom: 10px;
  font-size: 18px;
}
.st-b-issueList ._issueTeaser ._title:hover, .st-b-issueList ._issueTeaser ._title:focus, .st-b-issueList ._issueTeaser ._title:active {
  color: black;
}
@media screen and (max-width: 450px) {
  .st-b-issueList ._issueTeaser ._title {
    font-size: 16px;
  }
}
.st-b-issueList ._issueTeaser ._tags {
  display: flex;
  gap: 10px;
}
.st-b-issueList ._issueTeaser ._status {
  border: #35cb00 solid 1px;
  background-color: #35cb00;
  color: white;
  display: inline-block;
  border-radius: 3px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  padding: 4px 7px;
}
.st-b-issueList ._issueTeaser ._status:active, .st-b-issueList ._issueTeaser ._status:focus, .st-b-issueList ._issueTeaser ._status:hover {
  opacity: 95%;
}
.st-b-issueList ._issueTeaser ._theme {
  border: #ddd solid 1px;
  background-color: transparent;
  color: #8f8f8f;
  display: inline-block;
  border-radius: 3px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  padding: 4px 7px;
}
.st-b-issueList ._issueTeaser ._theme:active, .st-b-issueList ._issueTeaser ._theme:focus, .st-b-issueList ._issueTeaser ._theme:hover {
  opacity: 85%;
}
.st-b-issueList ._emptyMessage {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px 10px;
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
  grid-column: emptyMessage;
  grid-row: emptyMessage;
}
@media screen and (max-width: 450px) {
  .st-b-issueList ._emptyMessage {
    font-size: 16px;
    margin-top: 0;
  }
}

.st-b-issueItem {
  display: grid;
  grid-template-areas: "...      ...         ..." "...      header      ..." "...      top         ..." "...      issueChat   ..." "...      ...         ...";
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: 5vh max-content max-content max-content 15vh;
  gap: 0;
}
@media screen and (max-width: 700px) {
  .st-b-issueItem {
    grid-template-columns: 10% 1fr 10%;
  }
}
@media screen and (max-width: 450px) {
  .st-b-issueItem {
    grid-template-rows: 3vh max-content max-content max-content 15vh;
  }
}
.st-b-issueItem ._issueChat {
  grid-column: issueChat;
  grid-row: issueChat;
}
.st-b-issueItem ._header {
  grid-column: header;
  grid-row: header;
  margin-bottom: 15px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 26px;
  color: black;
}
@media screen and (max-width: 450px) {
  .st-b-issueItem ._header {
    font-size: 22px;
  }
}
.st-b-issueItem ._headSection {
  grid-column: top;
  grid-row: top;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
}
@media screen and (max-width: 450px) {
  .st-b-issueItem ._headSection {
    border: none;
    padding: 0;
  }
}
.st-b-issueItem ._headSection ._tags {
  display: flex;
  margin-bottom: 18px;
  column-gap: 10px;
}
.st-b-issueItem ._headSection .__statusTagActive {
  border: #35cb00 solid 1px;
  background-color: #35cb00;
  color: white;
  display: inline-block;
  border-radius: 3px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  padding: 5px 10px;
}
.st-b-issueItem ._headSection .__statusTagActive:active, .st-b-issueItem ._headSection .__statusTagActive:focus, .st-b-issueItem ._headSection .__statusTagActive:hover {
  opacity: 95%;
}
.st-b-issueItem ._headSection .__statusTagClosed {
  border: #35cb00 solid 1px;
  background-color: white;
  color: #35cb00;
  display: inline-block;
  border-radius: 3px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  padding: 5px 10px;
}
.st-b-issueItem ._headSection .__statusTagClosed:active, .st-b-issueItem ._headSection .__statusTagClosed:focus, .st-b-issueItem ._headSection .__statusTagClosed:hover {
  opacity: 95%;
}
.st-b-issueItem ._headSection ._themeTag {
  border: #ddd solid 1px;
  background-color: transparent;
  color: #8f8f8f;
  display: inline-block;
  border-radius: 3px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  padding: 5px 10px;
}
.st-b-issueItem ._headSection ._themeTag:active, .st-b-issueItem ._headSection ._themeTag:focus, .st-b-issueItem ._headSection ._themeTag:hover {
  opacity: 85%;
}
.st-b-issueItem ._headSection ._title {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-align: start;
  margin-bottom: 15px;
}
.st-b-issueItem ._headSection ._text {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1.3;
  text-align: start;
  margin-bottom: 15px;
  color: #8f8f8f;
}
.st-b-issueItem ._headSection ._text:active, .st-b-issueItem ._headSection ._text:focus, .st-b-issueItem ._headSection ._text:hover {
  color: #333;
}
.st-b-issueItem ._headSection ._issueCloseButton {
  background-color: transparent;
  border: #2400ff solid 1px;
  color: #2400ff;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  padding: 8px 15px;
}
.st-b-issueItem ._headSection ._issueCloseButton:active, .st-b-issueItem ._headSection ._issueCloseButton:focus, .st-b-issueItem ._headSection ._issueCloseButton:hover {
  opacity: 85%;
}
.st-b-issueItem ._headSection ._issueCloseButton:active {
  background-color: #2400ff;
  text-shadow: white 1px 1px;
  color: white;
}
.st-b-issueItem ._headSection ._issueCloseButton[disabled], .st-b-issueItem ._headSection ._issueCloseButton[disabled]:active, .st-b-issueItem ._headSection ._issueCloseButton[disabled]:focus, .st-b-issueItem ._headSection ._issueCloseButton[disabled]:hover {
  cursor: not-allowed;
  background-color: #ccc;
  text-shadow: none;
  color: white;
  opacity: 100%;
}
@media screen and (max-width: 450px) {
  .st-b-issueItem ._headSection ._issueCloseButton {
    width: 100%;
  }
}
.st-b-issueItem ._headSection ._teaserList {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.st-b-issueItem ._headSection ._teaserList ._teaserItem {
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 5px;
}
@media screen and (max-width: 450px) {
  .st-b-issueItem ._headSection ._teaserList ._teaserItem {
    height: 100px;
  }
}
.st-b-issueItem ._headSection .__archivedMessage {
  border: 1px solid #2400ff;
  border-radius: 3px;
  padding: 10px;
}
.st-b-issueItem ._headSection .__archivedMessage p {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #2400ff;
  font-size: 16px;
  line-height: 1.1;
  text-align: start;
}
.st-b-issueItem ._notFoundSection {
  border: 1px solid #ddd;
  border-radius: 5px;
}
.st-b-issueItem ._notFoundSection ._message {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
}

.st-c-issueItem--modalImage {
  display: block;
  width: 100%;
}

.st-b-mainMenu {
  display: grid;
  grid-template-areas: "... menu ...";
  grid-template-columns: 5% minmax(250px, 1fr) 5%;
  gap: 0;
  /* Декоративная линия, которая отделяет
  меню от основной страницы */
  border-bottom: 1px solid #bbb;
  /* Блок, на котором инициализируется scrollContainer
  и относительно которого прокручивается вложенный
  блок, содержащий пункты меню */
}
.st-b-mainMenu ._itemsCell {
  grid-column: menu;
  grid-row: menu;
}
.st-b-mainMenu ._itemsContainer {
  display: flex;
  justify-content: flex-start;
  column-gap: 30px;
}
@media screen and (max-width: 450px) {
  .st-b-mainMenu ._itemsContainer {
    column-gap: 20px;
  }
}
.st-b-mainMenu .__item {
  position: relative;
  list-style: none;
  padding: 10px 0;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}
@media screen and (max-width: 450px) {
  .st-b-mainMenu .__item {
    padding: 7px 0;
    font-size: 18px;
  }
}
.st-b-mainMenu .__item a {
  text-decoration: none;
  color: #333;
}
.st-b-mainMenu .__item a:active, .st-b-mainMenu .__item a:hover, .st-b-mainMenu .__item a:focus {
  color: black;
}
.st-b-mainMenu .__item .__active {
  color: black;
}
.st-b-mainMenu .__item .__active::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  background-color: #ff7a00;
  left: 0;
  top: 44px;
}
@media screen and (max-width: 450px) {
  .st-b-mainMenu .__item .__active::after {
    top: 36px;
  }
}

.st-p-actionSuccess {
  display: grid;
  grid-template-areas: "...      ...       ..." "...      image     ..." "...      header    ..." "...      content   ..." "...      wrapper   ..." "...      ...       ...";
  grid-template-columns: 1fr 650px 1fr;
  grid-template-rows: 10vh max-content max-content max-content max-content 15vh;
  gap: 0;
  position: relative;
}
@media screen and (max-width: 899px) {
  .st-p-actionSuccess {
    grid-template-rows: 8vh max-content max-content max-content max-content 15vh;
    grid-template-columns: 10% 1fr 10%;
  }
}
@media screen and (max-width: 450px) {
  .st-p-actionSuccess {
    grid-template-rows: 5vh max-content max-content max-content max-content 15vh;
  }
}
.st-p-actionSuccess ._image {
  grid-column: image;
  grid-row: image;
  height: 65px;
  background: center no-repeat url(svg/7b20ce394188069b425e.svg);
  margin-bottom: 25px;
  padding: 0;
}
@media screen and (max-width: 450px) {
  .st-p-actionSuccess ._image {
    height: 50px;
  }
}
.st-p-actionSuccess ._header {
  grid-column: header;
  grid-row: header;
}
.st-p-actionSuccess ._content {
  grid-column: content;
  grid-row: content;
  margin-bottom: 25px;
}
.st-p-actionSuccess ._message {
  position: relative;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  line-height: 1.3;
  font-size: 25px;
  padding: 0;
}
@media screen and (max-width: 450px) {
  .st-p-actionSuccess ._message {
    font-size: 18px;
  }
}
.st-p-actionSuccess ._btnWrapper {
  grid-column: wrapper;
  grid-row: wrapper;
  display: flex;
  justify-content: center;
}
.st-p-actionSuccess ._btn {
  background-color: #35cb00;
  border: #35cb00;
  color: white;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  padding: 10px 18px;
}
.st-p-actionSuccess ._btn:active, .st-p-actionSuccess ._btn:focus, .st-p-actionSuccess ._btn:hover {
  opacity: 95%;
}
.st-p-actionSuccess ._btn:active {
  background-color: #35cb00;
  text-shadow: white 1px 1px;
  color: transparent;
}
.st-p-actionSuccess ._btn[disabled], .st-p-actionSuccess ._btn[disabled]:active, .st-p-actionSuccess ._btn[disabled]:focus, .st-p-actionSuccess ._btn[disabled]:hover {
  cursor: not-allowed;
  background-color: #ccc;
  text-shadow: none;
  color: white;
  opacity: 100%;
}
@media screen and (max-width: 450px) {
  .st-p-actionSuccess ._btn {
    width: 100%;
  }
}

.st-p-main {
  display: grid;
  grid-template-areas: "banner   banner        banner       banner         banner      banner" "...      howItWorks    howItWorks   howItWorks     howItWorks  ..." "...      item1         item2        item3          item4       ..." "cookies  cookies       cookies      cookies        cookies     cookies";
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  grid-template-rows: max-content max-content max-content max-content;
  gap: 0;
  position: relative;
}
.st-p-main ._banner {
  grid-column: banner;
  grid-row: banner;
  background-image: url(images/6bb578ca60ba32f82e77.jpeg);
  background-size: cover;
  height: 450px;
}
.st-p-main ._bannerText {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  margin: 90px auto 0 auto;
  color: white;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
  width: 835px;
  font-size: 35px;
  line-height: 1.2;
}
@media screen and (max-width: 899px) {
  .st-p-main ._bannerText {
    width: 80%;
    font-size: 28px;
  }
}
@media screen and (max-width: 450px) {
  .st-p-main ._bannerText {
    width: 90%;
    font-size: 22px;
  }
}
.st-p-main ._bannerBtn {
  background-color: transparent;
  border: white solid 1px;
  color: white;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  padding: 10px 18px;
  margin: 50px auto 0 auto;
}
.st-p-main ._bannerBtn:active, .st-p-main ._bannerBtn:focus, .st-p-main ._bannerBtn:hover {
  opacity: 85%;
}
.st-p-main ._bannerBtn:active {
  background-color: transparent;
  text-shadow: white 1px 1px;
  color: transparent;
}
.st-p-main ._bannerBtn[disabled], .st-p-main ._bannerBtn[disabled]:active, .st-p-main ._bannerBtn[disabled]:focus, .st-p-main ._bannerBtn[disabled]:hover {
  cursor: not-allowed;
  background-color: #ccc;
  text-shadow: none;
  color: white;
  opacity: 100%;
}
@media screen and (max-width: 450px) {
  .st-p-main ._bannerBtn {
    background-color: transparent;
    border: white solid 1px;
    color: white;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    padding: 8px 15px;
    margin: 30px auto 0 auto;
  }
  .st-p-main ._bannerBtn:active, .st-p-main ._bannerBtn:focus, .st-p-main ._bannerBtn:hover {
    opacity: 85%;
  }
  .st-p-main ._bannerBtn:active {
    background-color: transparent;
    text-shadow: white 1px 1px;
    color: transparent;
  }
  .st-p-main ._bannerBtn[disabled], .st-p-main ._bannerBtn[disabled]:active, .st-p-main ._bannerBtn[disabled]:focus, .st-p-main ._bannerBtn[disabled]:hover {
    cursor: not-allowed;
    background-color: #ccc;
    text-shadow: none;
    color: white;
    opacity: 100%;
  }
}
.st-p-main ._howItWorks {
  grid-column: howItWorks;
  grid-row: howItWorks;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  margin: 25px auto 20px auto;
}
.st-p-main ._item1 {
  grid-column: item1;
  grid-row: item1;
  display: block;
  position: relative;
  width: 220px;
  margin: 10px 10px 30px 10px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1.2;
}
.st-p-main ._item1::before {
  content: "";
  position: absolute;
  left: -15px;
  top: -5px;
  z-index: -1;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid #d92b31;
  margin-right: -25px;
}
.st-p-main ._item2 {
  grid-column: item2;
  grid-row: item2;
  display: block;
  position: relative;
  width: 220px;
  margin: 10px 10px 30px 10px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1.2;
}
.st-p-main ._item2::before {
  content: "";
  position: absolute;
  left: -15px;
  top: -5px;
  z-index: -1;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid #d92b31;
  margin-right: -25px;
}
.st-p-main ._item3 {
  grid-column: item3;
  grid-row: item3;
  display: block;
  position: relative;
  width: 220px;
  margin: 10px 10px 30px 10px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1.2;
}
.st-p-main ._item3::before {
  content: "";
  position: absolute;
  left: -15px;
  top: -5px;
  z-index: -1;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid #d92b31;
  margin-right: -25px;
}
.st-p-main ._item4 {
  grid-column: item4;
  grid-row: item4;
  display: block;
  position: relative;
  width: 220px;
  margin: 10px 10px 30px 10px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1.2;
}
.st-p-main ._item4::before {
  content: "";
  position: absolute;
  left: -15px;
  top: -5px;
  z-index: -1;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid #d92b31;
  margin-right: -25px;
}

.st-p-feedback {
  display: grid;
  grid-template-areas: "...      ...       ..." "...      form      ..." "...      ...       ...";
  grid-template-columns: 1fr 600px 1fr;
  grid-template-rows: 7vh max-content 15vh;
  gap: 0;
}
@media screen and (max-width: 899px) {
  .st-p-feedback {
    grid-template-columns: 10% 1fr 10%;
  }
}
@media screen and (max-width: 450px) {
  .st-p-feedback {
    grid-template-rows: 5vh max-content 5vh;
  }
}
.st-p-feedback ._form {
  grid-column: form;
  grid-row: form;
}

.st-p-login {
  display: grid;
  grid-template-areas: "...      ...       ..." "...      message   ..." "...      form      ..." "...      links     ..." "...      ...       ...";
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 10vh max-content max-content max-content 15vh;
  gap: 0;
  /* 
  Сообщение, которое появляется, если пользователь попадает
  на страницу логина в результате запрещенного действия
  */
}
@media screen and (max-width: 450px) {
  .st-p-login {
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 5vh max-content max-content max-content 5vh;
  }
}
.st-p-login ._forbiddenMessage {
  grid-column: message;
  grid-row: message;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  border: 1px solid #ff7a00;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 35px;
  padding: 10px;
}
.st-p-login ._form {
  grid-column: form;
  grid-row: form;
}
.st-p-login ._links {
  grid-column: links;
  grid-row: links;
  margin-top: 10px;
}
.st-p-login ._link {
  display: block;
  text-align: center;
  color: #ccc;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  padding-bottom: 8px;
}

.st-p-profile {
  display: grid;
  grid-template-areas: "...      ...       ..." "...      header    ..." "...      content   ..." "...      links     ..." "...      ...       ...";
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 7vh max-content max-content max-content 15vh;
  gap: 0;
  position: relative;
}
@media screen and (max-width: 450px) {
  .st-p-profile {
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 4vh max-content max-content max-content 5vh;
  }
}
.st-p-profile ._header {
  grid-column: header;
  grid-row: header;
  background-color: white;
  margin-bottom: 20px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
}
@media screen and (max-width: 450px) {
  .st-p-profile ._header {
    margin-bottom: 15;
    font-size: 22px;
  }
}
.st-p-profile ._content {
  grid-column: content;
  grid-row: content;
}
.st-p-profile ._field {
  padding-bottom: 15px;
}
.st-p-profile ._links {
  grid-column: links;
  grid-row: links;
  margin-top: 10px;
}
.st-p-profile ._link {
  display: block;
  text-align: center;
  color: #bbb;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  padding-bottom: 8px;
}

.st-p-passwordReset {
  display: grid;
  grid-template-areas: "...      ...       ..." "...      form      ..." "...      ...       ...";
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 10vh max-content max-content 15vh;
  gap: 0;
}
@media screen and (max-width: 450px) {
  .st-p-passwordReset {
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 5vh max-content max-content 5vh;
  }
}
.st-p-passwordReset ._form {
  grid-column: form;
  grid-row: form;
}

.st-p-passwordResetNext {
  display: grid;
  grid-template-areas: "...      ...       ..." "...      image     ..." "...      header    ..." "...      content   ..." "...      wrapper   ..." "...      ...       ...";
  grid-template-columns: 1fr 650px 1fr;
  grid-template-rows: 10vh max-content max-content max-content max-content 15vh;
  gap: 0;
  position: relative;
}
@media screen and (max-width: 899px) {
  .st-p-passwordResetNext {
    grid-template-rows: 8vh max-content max-content max-content max-content 15vh;
    grid-template-columns: 10% 1fr 10%;
  }
}
@media screen and (max-width: 450px) {
  .st-p-passwordResetNext {
    grid-template-rows: 5vh max-content max-content max-content max-content 15vh;
  }
}
.st-p-passwordResetNext ._image {
  grid-column: image;
  grid-row: image;
  height: 45px;
  background: center no-repeat url(svg/18461bed6e1b1d67b31c.svg);
  margin-bottom: 25px;
  padding: 0;
}
@media screen and (max-width: 450px) {
  .st-p-passwordResetNext ._image {
    height: 37px;
  }
}
.st-p-passwordResetNext ._header {
  grid-column: header;
  grid-row: header;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
}
@media screen and (max-width: 899px) {
  .st-p-passwordResetNext ._header {
    font-size: 23px;
  }
}
@media screen and (max-width: 450px) {
  .st-p-passwordResetNext ._header {
    font-size: 20px;
  }
}
.st-p-passwordResetNext ._content {
  grid-column: content;
  grid-row: content;
  margin-bottom: 25px;
}
.st-p-passwordResetNext ._text {
  position: relative;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  line-height: 1.3;
  font-size: 20px;
  padding: 0;
}
@media screen and (max-width: 899px) {
  .st-p-passwordResetNext ._text {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  .st-p-passwordResetNext ._text {
    font-size: 16px;
  }
}
.st-p-passwordResetNext ._wrapper {
  grid-column: wrapper;
  grid-row: wrapper;
  display: flex;
  justify-content: center;
}
.st-p-passwordResetNext ._btn {
  background-color: #35cb00;
  border: #35cb00;
  color: white;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  padding: 10px 18px;
}
.st-p-passwordResetNext ._btn:active, .st-p-passwordResetNext ._btn:focus, .st-p-passwordResetNext ._btn:hover {
  opacity: 95%;
}
.st-p-passwordResetNext ._btn:active {
  background-color: #35cb00;
  text-shadow: white 1px 1px;
  color: transparent;
}
.st-p-passwordResetNext ._btn[disabled], .st-p-passwordResetNext ._btn[disabled]:active, .st-p-passwordResetNext ._btn[disabled]:focus, .st-p-passwordResetNext ._btn[disabled]:hover {
  cursor: not-allowed;
  background-color: #ccc;
  text-shadow: none;
  color: white;
  opacity: 100%;
}
@media screen and (max-width: 450px) {
  .st-p-passwordResetNext ._btn {
    width: 100%;
  }
}

.st-p-passwordUpdate {
  display: grid;
  grid-template-areas: "...      ...       ..." "...      form      ..." "...      ...       ...";
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 10vh max-content max-content 15vh;
  gap: 0;
}
@media screen and (max-width: 450px) {
  .st-p-passwordUpdate {
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 5vh max-content max-content 5vh;
  }
}
.st-p-passwordUpdate ._form {
  grid-column: form;
  grid-row: form;
}

.st-p-paswordSuccessUpdate {
  display: grid;
  grid-template-areas: "...      ...       ..." "...      image     ..." "...      header    ..." "...      content   ..." "...      wrapper   ..." "...      ...       ...";
  grid-template-columns: 1fr 650px 1fr;
  grid-template-rows: 10vh max-content max-content max-content max-content 15vh;
  gap: 0;
  position: relative;
}
@media screen and (max-width: 899px) {
  .st-p-paswordSuccessUpdate {
    grid-template-rows: 8vh max-content max-content max-content max-content 15vh;
    grid-template-columns: 10% 1fr 10%;
  }
}
@media screen and (max-width: 450px) {
  .st-p-paswordSuccessUpdate {
    grid-template-rows: 5vh max-content max-content max-content max-content 15vh;
  }
}
.st-p-paswordSuccessUpdate ._image {
  grid-column: image;
  grid-row: image;
  height: 65px;
  background: center no-repeat url(svg/7b20ce394188069b425e.svg);
  margin-bottom: 25px;
  padding: 0;
}
@media screen and (max-width: 450px) {
  .st-p-paswordSuccessUpdate ._image {
    height: 50px;
  }
}
.st-p-paswordSuccessUpdate ._header {
  grid-column: header;
  grid-row: header;
}
.st-p-paswordSuccessUpdate ._content {
  grid-column: content;
  grid-row: content;
  margin-bottom: 25px;
}
.st-p-paswordSuccessUpdate ._message {
  position: relative;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  line-height: 1.3;
  font-size: 25px;
  padding: 0;
}
@media screen and (max-width: 450px) {
  .st-p-paswordSuccessUpdate ._message {
    font-size: 18px;
  }
}
.st-p-paswordSuccessUpdate ._btnWrapper {
  grid-column: wrapper;
  grid-row: wrapper;
  display: flex;
  justify-content: center;
}
.st-p-paswordSuccessUpdate ._btn {
  background-color: #35cb00;
  border: #35cb00;
  color: white;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  padding: 10px 18px;
}
.st-p-paswordSuccessUpdate ._btn:active, .st-p-paswordSuccessUpdate ._btn:focus, .st-p-paswordSuccessUpdate ._btn:hover {
  opacity: 95%;
}
.st-p-paswordSuccessUpdate ._btn:active {
  background-color: #35cb00;
  text-shadow: white 1px 1px;
  color: transparent;
}
.st-p-paswordSuccessUpdate ._btn[disabled], .st-p-paswordSuccessUpdate ._btn[disabled]:active, .st-p-paswordSuccessUpdate ._btn[disabled]:focus, .st-p-paswordSuccessUpdate ._btn[disabled]:hover {
  cursor: not-allowed;
  background-color: #ccc;
  text-shadow: none;
  color: white;
  opacity: 100%;
}
@media screen and (max-width: 450px) {
  .st-p-paswordSuccessUpdate ._btn {
    width: 100%;
  }
}

.st-p-signup {
  display: grid;
  grid-template-areas: "...      ...       ..." "...      form      ..." "...      links     ..." "...      ...       ...";
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 10vh max-content max-content 15vh;
  gap: 0;
  position: relative;
}
@media screen and (max-width: 450px) {
  .st-p-signup {
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 5vh max-content max-content 5vh;
  }
}
.st-p-signup ._form {
  grid-column: form;
  grid-row: form;
}
.st-p-signup ._links {
  grid-column: links;
  grid-row: links;
  margin-top: 20px;
  display: inline-flex;
  flex-direction: column;
}
@media screen and (max-width: 450px) {
  .st-p-signup ._links {
    margin-top: 0;
  }
}
.st-p-signup ._link {
  text-align: center;
  color: #ccc;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  margin: 0 auto;
  padding-bottom: 8px;
}
.st-p-signup ._link:hover, .st-p-signup ._link:focus {
  color: #bbb;
}

.st-p-signupNext {
  display: grid;
  grid-template-areas: "...      ...       ..." "...      image     ..." "...      header    ..." "...      content   ..." "...      wrapper   ..." "...      ...       ...";
  grid-template-columns: 1fr 650px 1fr;
  grid-template-rows: 10vh max-content max-content max-content max-content 15vh;
  gap: 0;
  position: relative;
}
@media screen and (max-width: 899px) {
  .st-p-signupNext {
    grid-template-rows: 8vh max-content max-content max-content max-content 15vh;
    grid-template-columns: 10% 1fr 10%;
  }
}
@media screen and (max-width: 450px) {
  .st-p-signupNext {
    grid-template-rows: 5vh max-content max-content max-content max-content 15vh;
  }
}
.st-p-signupNext ._image {
  grid-column: image;
  grid-row: image;
  height: 45px;
  background: center no-repeat url(svg/18461bed6e1b1d67b31c.svg);
  margin-bottom: 25px;
  padding: 0;
}
@media screen and (max-width: 450px) {
  .st-p-signupNext ._image {
    height: 37px;
  }
}
.st-p-signupNext ._header {
  grid-column: header;
  grid-row: header;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
}
@media screen and (max-width: 899px) {
  .st-p-signupNext ._header {
    font-size: 23px;
  }
}
@media screen and (max-width: 450px) {
  .st-p-signupNext ._header {
    font-size: 20px;
  }
}
.st-p-signupNext ._content {
  grid-column: content;
  grid-row: content;
  margin-bottom: 25px;
}
.st-p-signupNext ._text {
  position: relative;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  line-height: 1.3;
  font-size: 20px;
  padding: 0;
}
@media screen and (max-width: 899px) {
  .st-p-signupNext ._text {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  .st-p-signupNext ._text {
    font-size: 16px;
  }
}
.st-p-signupNext ._wrapper {
  grid-column: wrapper;
  grid-row: wrapper;
  display: flex;
  justify-content: center;
}
.st-p-signupNext ._btn {
  background-color: #35cb00;
  border: #35cb00;
  color: white;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  padding: 10px 18px;
}
.st-p-signupNext ._btn:active, .st-p-signupNext ._btn:focus, .st-p-signupNext ._btn:hover {
  opacity: 95%;
}
.st-p-signupNext ._btn:active {
  background-color: #35cb00;
  text-shadow: white 1px 1px;
  color: transparent;
}
.st-p-signupNext ._btn[disabled], .st-p-signupNext ._btn[disabled]:active, .st-p-signupNext ._btn[disabled]:focus, .st-p-signupNext ._btn[disabled]:hover {
  cursor: not-allowed;
  background-color: #ccc;
  text-shadow: none;
  color: white;
  opacity: 100%;
}
@media screen and (max-width: 450px) {
  .st-p-signupNext ._btn {
    width: 100%;
  }
}

.st-p-signupComplete {
  display: grid;
  grid-template-areas: "...      ...       ..." "...      form      ..." "...      ...       ...";
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 10vh max-content max-content 15vh;
  gap: 0;
}
@media screen and (max-width: 450px) {
  .st-p-signupComplete {
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 5vh max-content max-content 5vh;
  }
}
.st-p-signupComplete ._form {
  grid-column: form;
  grid-row: form;
}

.st-p-issueList {
  display: grid;
  grid-template-areas: "...      ...             ..." "...      issueList       ..." "...      ...             ...";
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: 5vh max-content 15vh;
  gap: 0;
}
@media screen and (max-width: 700px) {
  .st-p-issueList {
    grid-template-columns: 10% 1fr 10%;
  }
}
@media screen and (max-width: 450px) {
  .st-p-issueList {
    grid-template-rows: 3vh max-content 15vh;
  }
}
@media screen and (min-width: 1250px) {
  .st-p-issueList {
    grid-template-columns: 1fr 850px 1fr;
  }
}
.st-p-issueList ._issueListBlock {
  grid-column: issueList;
  grid-row: issueList;
}

.st-p-issueCreate {
  display: grid;
  grid-template-areas: "...      ...       ..." "...      form      ..." "...      ...       ...";
  grid-template-columns: 1fr 650px 1fr;
  grid-template-rows: 7vh max-content 15vh;
  gap: 0;
}
@media screen and (max-width: 899px) {
  .st-p-issueCreate {
    grid-template-columns: 10% 1fr 10%;
  }
}
@media screen and (max-width: 450px) {
  .st-p-issueCreate {
    grid-template-rows: 5vh max-content 5vh;
  }
}
.st-p-issueCreate ._form {
  grid-column: form;
  grid-row: form;
}

.st-p-issueItem {
  display: grid;
  grid-template-areas: "...      ...       ..." "...      block     ..." "...      ...       ...";
  grid-template-columns: 1fr 650px 1fr;
  grid-template-rows: 7vh max-content 15vh;
  gap: 0;
}
@media screen and (max-width: 899px) {
  .st-p-issueItem {
    grid-template-columns: 10% 1fr 10%;
  }
}
@media screen and (max-width: 450px) {
  .st-p-issueItem {
    grid-template-rows: 5vh max-content 5vh;
  }
}
.st-p-issueItem ._block {
  grid-column: block;
  grid-row: block;
}

.st-p-feedbackSent {
  display: grid;
  grid-template-areas: "...      ...       ..." "...      image     ..." "...      header    ..." "...      content   ..." "...      wrapper   ..." "...      ...       ...";
  grid-template-columns: 1fr 650px 1fr;
  grid-template-rows: 10vh max-content max-content max-content max-content 15vh;
  gap: 0;
  position: relative;
}
@media screen and (max-width: 899px) {
  .st-p-feedbackSent {
    grid-template-rows: 8vh max-content max-content max-content max-content 15vh;
    grid-template-columns: 10% 1fr 10%;
  }
}
@media screen and (max-width: 450px) {
  .st-p-feedbackSent {
    grid-template-rows: 5vh max-content max-content max-content max-content 15vh;
  }
}
.st-p-feedbackSent ._image {
  grid-column: image;
  grid-row: image;
  height: 65px;
  background: center no-repeat url(svg/7b20ce394188069b425e.svg);
  margin-bottom: 25px;
  padding: 0;
}
@media screen and (max-width: 450px) {
  .st-p-feedbackSent ._image {
    height: 50px;
  }
}
.st-p-feedbackSent ._header {
  grid-column: header;
  grid-row: header;
}
.st-p-feedbackSent ._content {
  grid-column: content;
  grid-row: content;
  margin-bottom: 25px;
}
.st-p-feedbackSent ._message {
  position: relative;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  line-height: 1.3;
  font-size: 25px;
  padding: 0;
}
@media screen and (max-width: 450px) {
  .st-p-feedbackSent ._message {
    font-size: 18px;
  }
}
.st-p-feedbackSent ._btnWrapper {
  grid-column: wrapper;
  grid-row: wrapper;
  display: flex;
  justify-content: center;
}
.st-p-feedbackSent ._btn {
  background-color: #35cb00;
  border: #35cb00;
  color: white;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  padding: 10px 18px;
}
.st-p-feedbackSent ._btn:active, .st-p-feedbackSent ._btn:focus, .st-p-feedbackSent ._btn:hover {
  opacity: 95%;
}
.st-p-feedbackSent ._btn:active {
  background-color: #35cb00;
  text-shadow: white 1px 1px;
  color: transparent;
}
.st-p-feedbackSent ._btn[disabled], .st-p-feedbackSent ._btn[disabled]:active, .st-p-feedbackSent ._btn[disabled]:focus, .st-p-feedbackSent ._btn[disabled]:hover {
  cursor: not-allowed;
  background-color: #ccc;
  text-shadow: none;
  color: white;
  opacity: 100%;
}
@media screen and (max-width: 450px) {
  .st-p-feedbackSent ._btn {
    width: 100%;
  }
}

.st-s-pageException {
  display: grid;
  grid-template-areas: "...      ...       ..." "...      header    ..." "...      wrapper   ..." "...      errCode   ..." "...      ...       ...";
  grid-template-columns: 1fr 650px 1fr;
  grid-template-rows: 10vh max-content max-content max-content 15vh;
  gap: 0;
  position: relative;
}
@media screen and (max-width: 899px) {
  .st-s-pageException {
    grid-template-rows: 8vh max-content max-content max-content 15vh;
    grid-template-columns: 10% 1fr 10%;
  }
}
@media screen and (max-width: 450px) {
  .st-s-pageException {
    grid-template-rows: 5vh max-content max-content max-content 15vh;
  }
}
.st-s-pageException ._header {
  grid-column: header;
  grid-row: header;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 0 10px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  font-size: 25px;
  color: tomato;
  background-color: white;
}
@media screen and (max-width: 899px) {
  .st-s-pageException ._header {
    font-size: 23px;
  }
}
@media screen and (max-width: 450px) {
  .st-s-pageException ._header {
    font-size: 20px;
  }
}
.st-s-pageException ._wrapper {
  grid-column: wrapper;
  grid-row: wrapper;
  border: tomato solid 1px;
  border-radius: 7px;
  padding: 35px 25px 30px 25px;
}
@media screen and (max-width: 450px) {
  .st-s-pageException ._wrapper {
    border: none;
    padding: 40px 0 0 0;
  }
}
.st-s-pageException ._errCode {
  grid-column: errCode;
  grid-row: errCode;
  margin-top: 15px;
  text-align: center;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  color: #bbb;
}
.st-s-pageException ._text {
  position: relative;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: tomato;
  line-height: 1.3;
  font-size: 20px;
  padding: 0;
}
@media screen and (max-width: 899px) {
  .st-s-pageException ._text {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  .st-s-pageException ._text {
    font-size: 16px;
  }
}
.st-s-pageException ._btnWrapper {
  display: flex;
  justify-content: center;
}
.st-s-pageException ._btn {
  margin-top: 20px;
  background-color: #35cb00;
  border: #35cb00;
  color: white;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  padding: 10px 18px;
}
.st-s-pageException ._btn:active, .st-s-pageException ._btn:focus, .st-s-pageException ._btn:hover {
  opacity: 95%;
}
.st-s-pageException ._btn:active {
  background-color: #35cb00;
  text-shadow: white 1px 1px;
  color: transparent;
}
.st-s-pageException ._btn[disabled], .st-s-pageException ._btn[disabled]:active, .st-s-pageException ._btn[disabled]:focus, .st-s-pageException ._btn[disabled]:hover {
  cursor: not-allowed;
  background-color: #ccc;
  text-shadow: none;
  color: white;
  opacity: 100%;
}
@media screen and (max-width: 450px) {
  .st-s-pageException ._btn {
    width: 100%;
  }
}

.st-p-err400 {
  display: grid;
  grid-template-areas: "...      ...       ..." "...      header    ..." "...      content   ..." "...      ...       ...";
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 10vh max-content max-content 15vh;
  gap: 0;
}
@media screen and (max-width: 450px) {
  .st-p-err400 {
    grid-template-columns: 10% 1fr 10%;
  }
}
.st-p-err400 ._header {
  grid-column: header;
  grid-row: header;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  padding: 0;
}
@media screen and (max-width: 899px) {
  .st-p-err400 ._header {
    font-size: 35px;
  }
}
@media screen and (max-width: 450px) {
  .st-p-err400 ._header {
    font-size: 21px;
  }
}
.st-p-err400 ._content {
  grid-column: content;
  grid-row: content;
  margin-top: 15px;
}
.st-p-err400 ._contentText {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  font-size: 25px;
  padding: 0;
}
@media screen and (max-width: 899px) {
  .st-p-err400 ._contentText {
    font-size: 20px;
  }
}
@media screen and (max-width: 450px) {
  .st-p-err400 ._contentText {
    font-size: 18px;
  }
}
.st-p-err400 ._errorCode {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  font-size: 250px;
  color: #ccc;
  padding: 0;
}
@media screen and (max-width: 899px) {
  .st-p-err400 ._errorCode {
    font-size: 190px;
  }
}
@media screen and (max-width: 450px) {
  .st-p-err400 ._errorCode {
    font-size: 125px;
  }
}

.st-p-err404 {
  display: grid;
  grid-template-areas: "...      ...       ..." "...      header    ..." "...      content   ..." "...      ...       ...";
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 10vh max-content max-content 15vh;
  gap: 0;
}
@media screen and (max-width: 450px) {
  .st-p-err404 {
    grid-template-columns: 10% 1fr 10%;
  }
}
.st-p-err404 ._header {
  grid-column: header;
  grid-row: header;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  padding: 0;
}
@media screen and (max-width: 899px) {
  .st-p-err404 ._header {
    font-size: 35px;
  }
}
@media screen and (max-width: 450px) {
  .st-p-err404 ._header {
    font-size: 21px;
  }
}
.st-p-err404 ._content {
  grid-column: content;
  grid-row: content;
  margin-top: 15px;
}
.st-p-err404 ._contentText {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  font-size: 25px;
  padding: 0;
}
@media screen and (max-width: 899px) {
  .st-p-err404 ._contentText {
    font-size: 20px;
  }
}
@media screen and (max-width: 450px) {
  .st-p-err404 ._contentText {
    font-size: 18px;
  }
}
.st-p-err404 ._errorCode {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  font-size: 250px;
  color: #ccc;
  padding: 0;
}
@media screen and (max-width: 899px) {
  .st-p-err404 ._errorCode {
    font-size: 190px;
  }
}
@media screen and (max-width: 450px) {
  .st-p-err404 ._errorCode {
    font-size: 125px;
  }
}

.st-p-err500 {
  display: grid;
  grid-template-areas: "...      ...       ..." "...      header    ..." "...      content   ..." "...      ...       ...";
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 10vh max-content max-content 15vh;
  gap: 0;
}
@media screen and (max-width: 450px) {
  .st-p-err500 {
    grid-template-columns: 10% 1fr 10%;
  }
}
.st-p-err500 ._header {
  grid-column: header;
  grid-row: header;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  padding: 0;
}
@media screen and (max-width: 899px) {
  .st-p-err500 ._header {
    font-size: 35px;
  }
}
@media screen and (max-width: 450px) {
  .st-p-err500 ._header {
    font-size: 21px;
  }
}
.st-p-err500 ._content {
  grid-column: content;
  grid-row: content;
  margin-top: 15px;
}
.st-p-err500 ._contentText {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  font-size: 25px;
  padding: 0;
}
@media screen and (max-width: 899px) {
  .st-p-err500 ._contentText {
    font-size: 20px;
  }
}
@media screen and (max-width: 450px) {
  .st-p-err500 ._contentText {
    font-size: 18px;
  }
}
.st-p-err500 ._errorCode {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  font-size: 250px;
  color: #ccc;
  padding: 0;
}
@media screen and (max-width: 899px) {
  .st-p-err500 ._errorCode {
    font-size: 190px;
  }
}
@media screen and (max-width: 450px) {
  .st-p-err500 ._errorCode {
    font-size: 125px;
  }
}
