<!DOCTYPE html>
<html lang="ru">

<body>
    <%- include ../../blocks/HeaderBlock/HeaderBlockTempl.ejs -%>
    <%- include ../../blocks/MainMenuBlock/MainMenuBlockTempl.ejs -%>
    <main class="st-p-signup">
        <div class="_form js-b-signup">
            <%- include ../../blocks/FormSignupBlock/FormSignupBlockTempl.ejs -%>
        </div>
        <div class="_links">
            <a href="{{ data.loginPageLink }}" class="_link">{{ dict.loginLinkText }}</a>
        </div>
    </main>
    <%- include ../../blocks/FooterBlock/FooterBlockTempl.ejs -%>
</body>

</html>