@use "../../fw.scss";

.st-p-signup {
    display: grid;
    grid-template-areas:
        "...      ...       ..."
        "...      form      ..."
        "...      links     ..."
        "...      ...       ...";
    grid-template-columns: 1fr 400px 1fr;
    grid-template-rows: 10vh max-content max-content 15vh;
    gap: 0;
    @include fw.screen(phone) {
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: 5vh max-content max-content 5vh;
    }
    position: relative;
    ._form {
        grid-column: form;
        grid-row: form;
    }
    ._links {
        grid-column: links;
        grid-row: links;
        margin-top: 20px;
        display: inline-flex;
        flex-direction: column;
        @include fw.screen("phone") {
            margin-top: 0;
        }
    }
    ._link {
        text-align: center;
        color: fw.$gray-m;
        @include fw.font(ar);
        font-size: 16px;
        margin: 0 auto;
        padding-bottom: 8px;
        &:hover,
        &:focus {
            color: fw.$gray-l;
        }
    }
}
