<form class="st-c-form js-form-login">
    <h1 class="_header">{{ FormLoginBlock.dict.header }}</h1>
    <div class="_field st-c-textbox js-textbox-login">
        <input type="text" autocomplete="on" required><label>{{ FormLoginBlock.dict.login }}</label>
    </div>
    <div class="_field st-c-inputPassword js-passbox">
        <input type="password" autocomplete="on" required>
        <label>{{ FormLoginBlock.dict.passwordLabel }}</label>
    </div>
    <div class="_checkbox st-c-checkbox js-checkbox-isRemember">
        <label>
            <input type="checkbox" checked>
            <span>{{ FormLoginBlock.dict.isRemember }}</span>
        </label>
    </div>
    <button type="button" class="_btnSend js-btnSend">{{ FormLoginBlock.dict.btnAction }}</button>
</form>