<div class="st-b-issueList js-b-issueList">
    <div class="_header">
        <h1 class="_h1">{{ IssueListBlock.dict.blockHeader }}</h1>
        <a href="{{ IssueListBlock.data.createIssueLink }}" class="_btnLink">
            {{ IssueListBlock.dict.createIssueButtonTitle }}
        </a>
    </div>

    {% if IssueListBlock.self.activeIssues %}
    <div class="_issueTeasersWrapper">
        {% for item in IssueListBlock.self.activeIssues %}
        <div class="_issueTeaser">
            <a href="{{ item.issueUri }}" class="_title">{{ item.summary }}</a>
            <div class="_tags">
                <span class="_status">{{ item.statusName }}</span>
                <span class="_theme">{{ item.themeTitle }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="_emptyMessage">
        <p>{{ IssueListBlock.dict.emptyMessage }}</p>
    </div>
    {% endif %}

    {% if IssueListBlock.self.archivedIssues %}
    <div class="_archiveTeasers js-c-listLoader-archivedIssues">
        <h2 class="_h2">{{ IssueListBlock.dict.archiveHeader }}</h2>
        <div class="_issueTeasersWrapper js-wrapper">
            {% for item in IssueListBlock.self.archivedIssues %}
            <div class="_issueTeaser">
                <a href="{{ item.issueUri }}" class="_title">{{ item.summary }}</a>
                <div class="_tags">
                    <span class="_theme">{{ item.themeTitle }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>