@use "../../fw.scss";

.st-b-issueList {
    display: flex;
    flex-direction: column;
    ._header {
        display: grid;
        grid-template-areas: " h1 ... btnLink";
        grid-template-columns: max-content 1fr max-content;
        grid-template-rows: max-content;
        gap: 0;
        @include fw.screen(phone) {
            grid-template-areas:
                "h1"
                "btnLink";
            grid-template-columns: 1fr;
            grid-template-rows: max-content max-content;
            gap: 10px;
        }
        ._h1 {
            grid-column: h1;
            grid-row: h1;
            @include fw.header("h1");
        }
        ._btnLink {
            grid-column: btnLink;
            grid-row: btnLink;
            @include fw.btn("green", "m");
        }
        margin-bottom: 15px;
    }
    ._h2 {
        @include fw.header("h2");
        margin-top: 25px;
        @include fw.screen(phone) {
            margin-top: 15px;
        }
    }
    ._issueTeasersWrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;
    }
    .__loadButton {
        @include fw.btn("green", "m");
        width: 100%;
        margin-top: 15px;
    }
    ._issueTeaser {
        border: 1px solid fw.$gray-s;
        border-radius: 5px;
        padding: 15px;
        @include fw.screen(phone) {
            padding: 10px;
        }
        ._title {
            @include fw.link(teaser);
            padding-bottom: 10px;
            font-size: 18px;
            @include fw.screen(phone) {
                font-size: 16px;
            }
        }
        ._tags {
            display: flex;
            gap: 10px;
        }
        ._status {
            @include fw.tag("green", "s");
        }
        ._theme {
            @include fw.tag("transparent-gray", "s");
        }
    }
    ._emptyMessage {
        @include fw.font(ar);
        @include fw.border(block);
        padding: 20px 10px;
        margin-top: 15px;
        font-size: 18px;
        text-align: center;
        @include fw.screen(phone) {
            font-size: 16px;
            margin-top: 0;
        }
        grid-column: emptyMessage;
        grid-row: emptyMessage;
    }
}
