@use "../../../fw.scss";

.st-c-chatThread {
    ._messageContainer {
        padding: 15px;
        border-bottom: 1px solid fw.$gray-s;
        &:last-child {
            border-bottom: none;
        }
        p {
            position: relative;
            @include fw.font(br);
            font-size: 18px;
            line-height: 1.5;
            text-align: start;
            &::before {
                content: "";
                position: absolute;
                height: 100%;
                width: 3px;
                left: -14px;
                background-color: fw.$orange;
            }
        }
    }
    ._formInput {
        margin-bottom: 10px;
    }
    ._formBtnSend {
        @include fw.btn("green", "m");
    }
}
