@use "../../fw.scss";

.st-c-viewbox {
    position: relative;
    width: 100%;
    input {
        appearance: none;
        outline: none;
        height: 55px;
        width: 100%;
        font-size: 18px;
        box-sizing: border-box;
        padding-top: 15px;
        padding-left: 10px;
        border: fw.$gray-m solid 1px;
        border-radius: 2px;
        &:focus,
        &:active {
            border-color: fw.$gray-xl;
            outline: none;
        }
        @include fw.screen("tablet") {
            height: 50px;
        }
    }
    label {
        position: absolute;
        @include fw.font(ar);
        font-size: 12px;
        color: fw.$gray-l;
        top: 6px;
        left: 0px;
        padding-left: 10px;
        pointer-events: none;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    //ref VievboxControl.js
    .__edit {
        position: absolute;
        background: center no-repeat url(../assets/svg/pencil.svg);
        cursor: pointer;
        height: 30px;
        width: 30px;
        top: 13px;
        right: 10px;
        @include fw.screen("tablet") {
            top: 10px;
        }
    }
}
