@use "../../fw.scss";

/*
Идея в том, что нативный чекбокс скрывается, а из элемента span "выезжают" кастомные
варианты для активного и не активного чекбокса, которые увязываются с состоянием
чекбокса нативного.
*/

.st-c-checkbox {
    label {
        display: inline-block;
        /* Включаем относительное позиционирование, чтобы выравнивать по этому 
        родителю дочерние абсолютно позиционированные элементы */
        position: relative;
        left: 0;
        top: 0;
        /* Преобразование курсора */
        cursor: pointer;
        /*Стиль чекбокса при наведении курсора*/
        &:focus,
        &:hover {
            span::before {
                border-color: fw.$gray-l;
            }
        }
    }
    input {
        position: absolute;
        appearance: none;
        opacity: 0;
        /* Плюс указывает, что стиль следует применить
        к ближайшему тег справа на том же уровне */
        &:checked + span::after {
            opacity: 1;
        }
    }
    span {
        display: inline-block;
        position: relative;
        left: 0;
        top: 0;
        /*Освобождаем место для псевдо-тегов*/
        padding-left: 28px;
        @include fw.font(ar);
        font-size: 16px;
        /*Активный чекбокс*/
        &::before {
            content: "";
            position: absolute;
            /*Чтобы тег можно было "нарисовать", он должен быть блочным*/
            display: inline-block;
            border: fw.$gray-m solid 1px;
            border-radius: 2px;
            height: 18px;
            width: 18px;
            left: 0px;
            top: -1px;
        }
        /*Активный чекборкс, который находится поверх не активного, но по умолчанию не виден*/
        &::after {
            content: "";
            position: absolute;
            display: inline-block;
            opacity: 0;
            background: center no-repeat url(../assets/svg/check.svg);
            border: fw.$gray-m solid 1px;
            /*Размеры должны строго совпадать с ::before, т.к. они накладываются*/
            border-radius: 2px;
            height: 18px;
            width: 18px;
            left: 0;
            top: -1px;
        }
    }

    &.js-fieldError {
        & > input {
            border: fw.$col-err-bg solid 1px;
        }
        & > p {
            background-color: fw.$col-err-bg;
            color: fw.$col-err-txt;
        }
    }
}
