@use "../../fw.scss";

.st-c-mainMenu {
    display: grid;
    grid-template-areas: "... items ...";
    grid-template-columns: 15px minmax(250px, 1fr) 15px;
    gap: 0;
    border-bottom: 1px solid fw.$gray-l;
    .__items {
        grid-column: items;
        grid-row: items;
        display: flex;
        justify-content: flex-start;
        column-gap: 30px;
        @include fw.screen(phone) {
            column-gap: 20px;
        }
        overflow-x: clip;
    }
    .__item {
        position: relative;
        list-style: none;
        padding: 10px 0;
        @include fw.font("am");
        font-size: 20px;
        @include fw.screen(phone) {
            padding: 7px 0;
            font-size: 18px;
        }
        a {
            text-decoration: none;
            color: fw.$gray-xxxl;
            &:active,
            &:hover,
            &:focus {
                color: black;
            }
        }
        &.__active::after {
            position: absolute;
            content: "";
            height: 3px;
            width: 100%;
            background-color: fw.$orange;
            left: 0;
            top: 44px;
            @include fw.screen(phone) {
                top: 36px;
            }
        }
    }
    .__active a {
        color: black;
    }
}
