@use "../../fw.scss";

.st-c-chatThread {
    .__messageContainer {
        padding: 15px;
        margin-bottom: 10px;
        border-bottom: 1px solid fw.$gray-s;
        &:last-child {
            border-bottom: none;
        }
        .__messageText {
            position: relative;
            @include fw.font(br);
            font-size: 18px;
            line-height: 1.3;
            text-align: start;
            &::before {
                content: "";
                position: absolute;
                height: 100%;
                width: 3px;
                left: -14px;
                background-color: fw.$orange;
            }
        }
    }
}
