@use "../../fw.scss";

.st-c-cascadeSelect {
    position: relative;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    .__selectsWrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .__select {
        border: fw.$gray-m solid 1px;
        border-radius: 2px;
    }
    button {
        position: relative;
        appearance: none;
        width: 100%;
        height: 50px;
        font-size: 18px;
        box-sizing: border-box;
        margin: 0;
        padding: 2px 0 0 10px;
        text-align: start;
        cursor: pointer;
        background-color: white;
        border: none;
        &:active {
            text-shadow: black 1px 1px;
            color: transparent;
        }
        &::after {
            content: "";
            position: absolute;
            right: 10px;
            top: 20px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 11px 9px 0 9px;
            border-color: fw.$gray-l transparent transparent transparent;
        }
    }
    ul {
        position: relative;
        display: none;
        padding: 7.5px 0;
        border-top: 1px solid fw.$gray-m;
        li {
            list-style-type: none;
            padding: 7.5px 0 7.5px 15px;
            cursor: pointer;
            &:hover,
            &:active,
            &:focus {
                background-color: fw.$gray-xs;
            }
        }
    }
    .js-showItems {
        button::after {
            content: "";
            top: 19px;
            border-width: 0 9px 11px 9px;
            border-color: transparent transparent fw.$gray-l transparent;
        }
        ul {
            display: block;
        }
    }

    .js-active {
        display: none;
    }

    &.js-fieldError {
        & > div {
            border: fw.$col-err-bg solid 1px;
        }
        & > p {
            background-color: fw.$col-err-bg;
            color: fw.$col-err-txt;
            @include fw.font(ar);
            font-size: 14px;
            padding: 3px 3px 3px 5px;
            margin-top: -1px;
        }
    }
}
