<!DOCTYPE html>
<html lang="ru">

<body>
    <%- include ../../blocks/HeaderBlock/HeaderBlockTempl.ejs -%>
    <%- include ../../blocks/MainMenuBlock/MainMenuBlockTempl.ejs -%>
    <main class="st-p-main">
        <div class="_banner">
            <p class="_bannerText">
                <b>dship</b> — {{ dict.whoWeAre }}
            </p>
            <button class="_bannerBtn">{{ dict.joinOurCourse }}</button>
        </div>
        <h1 class="_howItWorks">{{ dict.howItWorks }}</h1>
        <p class="_item1">{{ dict.step1 }}</p>
        <p class="_item2">{{ dict.step2 }}</p>
        <p class="_item3">{{ dict.step3 }}</p>
        <p class="_item4">{{ dict.step4 }}</p>
    </main>
    <%- include ../../blocks/FooterBlock/FooterBlockTempl.ejs -%>
</body>

</html>