@use "../../fw.scss";

@mixin item {
    display: block;
    position: relative;
    width: 220px;
    margin: 10px 10px 30px 10px;
    @include fw.font(ar);
    font-size: 18px;
    line-height: 1.2;
}

@mixin triangle {
    content: "";
    position: absolute;
    left: -15px;
    top: -5px;
    z-index: -1;
}

.st-p-main {
    //grid
    display: grid;
    grid-template-areas:
        "banner   banner        banner       banner         banner      banner"
        "...      howItWorks    howItWorks   howItWorks     howItWorks  ..."
        "...      item1         item2        item3          item4       ..."
        "cookies  cookies       cookies      cookies        cookies     cookies";
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    grid-template-rows: max-content max-content max-content max-content;
    gap: 0;
    //styles
    position: relative;
    ._banner {
        grid-column: banner;
        grid-row: banner;
        background-image: url(./pages/MainPage/img/banner.jpeg);
        background-size: cover;
        height: 450px;
    }
    ._bannerText {
        @include fw.font(ar);
        text-align: center;
        margin: 90px auto 0 auto;
        color: white;
        text-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
        width: 835px;
        font-size: 35px;
        line-height: 1.2;
        @include fw.screen(tablet) {
            width: 80%;
            font-size: 28px;
        }
        @include fw.screen(phone) {
            width: 90%;
            font-size: 22px;
        }
    }
    ._bannerBtn {
        @include fw.btn("transparent-white", "l");
        margin: 50px auto 0 auto;
        @include fw.screen(phone) {
            @include fw.btn("transparent-white", "m");
            margin: 30px auto 0 auto;
        }
    }
    ._howItWorks {
        grid-column: howItWorks;
        grid-row: howItWorks;
        @include fw.font(ar);
        font-size: 40px;
        text-align: center;
        margin: 25px auto 20px auto;
    }
    ._item1 {
        grid-column: item1;
        grid-row: item1;
        @include item;
        &::before {
            @include triangle;
            @include fw.triangle(fw.$ebay-red, right, 25px);
        }
    }
    ._item2 {
        grid-column: item2;
        grid-row: item2;
        @include item;
        &::before {
            @include triangle;
            @include fw.triangle(fw.$ebay-red, right, 25px);
        }
    }
    ._item3 {
        grid-column: item3;
        grid-row: item3;
        @include item;
        &::before {
            @include triangle;
            @include fw.triangle(fw.$ebay-red, right, 25px);
        }
    }
    ._item4 {
        grid-column: item4;
        grid-row: item4;
        @include item;
        &::before {
            @include triangle;
            @include fw.triangle(fw.$ebay-red, right, 25px);
        }
    }
}
