@use "../colors.scss";
@use "./fonts.scss";

@mixin border($style) {
    @if $style == "block" {
        border: 1px solid colors.$gray-s;
        border-radius: 5px;
    } @else if $style == "field" {
        border: 1px solid colors.$gray-s;
        border-radius: 3px;
    } @else if $style == "forbidden-message" {
        border: 1px solid colors.$orange;
        border-radius: 5px;
    } @else {
        @error 'Style #{$style} is not supported in border mixin.';
    }
}
