@mixin btn-image($url) {
    display: block;
    cursor: pointer;
    border: none;
    appearance: none;
    padding: 0;
    background: url($url) no-repeat;
    background-color: inherit;
    background-size: contain;
    background-position: center;
}
