@use "../colors.scss";
@use "./fonts.scss";

// Shared

@mixin btn-shared {
	display: inline-block;
	position: relative;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	outline: none;
	border-radius: 5px;
	@include fonts.font(ar);
}

// Size mixin

@mixin btn-size($size) {
	@if $size == "s" {
		@include btn-shared;
		font-size: 15px;
		padding: 5px 10px;
	} @else if $size == "m" {
		@include btn-shared;
		font-size: 15px;
		padding: 8px 15px;
	} @else if $size == "l" {
		@include btn-shared;
		font-size: 17px;
		padding: 10px 18px;
	} @else if $size == "xl" {
		@include btn-shared;
		font-size: 20px;
		padding: 13px 20px;
	} @else {
		@error 'Size #{$size} is not supported in btn-size mixin.';
	}
}

// Generator

@mixin btn($color, $size) {
	@if $color == "green" {
		background-color: colors.$green;
		border: colors.$green;
		color: white;
		&:active,
		&:focus,
		&:hover {
			opacity: 95%;
		}
		&:active {
			background-color: colors.$green;
			text-shadow: white 1px 1px;
			color: transparent;
		}
		&[disabled],
		&[disabled]:active,
		&[disabled]:focus,
		&[disabled]:hover {
			cursor: not-allowed;
			background-color: colors.$gray-m;
			text-shadow: none;
			color: white;
			opacity: 100%;
		}
	} @else if $color == "transparent-white" {
		background-color: transparent;
		border: white solid 1px;
		color: white;
		&:active,
		&:focus,
		&:hover {
			opacity: 85%;
		}
		&:active {
			background-color: transparent;
			text-shadow: white 1px 1px;
			color: transparent;
		}
		&[disabled],
		&[disabled]:active,
		&[disabled]:focus,
		&[disabled]:hover {
			cursor: not-allowed;
			background-color: colors.$gray-m;
			text-shadow: none;
			color: white;
			opacity: 100%;
		}
	} @else if $color == "transparent-violet" {
		background-color: transparent;
		border: colors.$blueviolet solid 1px;
		color: colors.$blueviolet;
		&:active,
		&:focus,
		&:hover {
			opacity: 85%;
		}
		&:active {
			background-color: colors.$blueviolet;
			text-shadow: white 1px 1px;
			color: white;
		}
		&[disabled],
		&[disabled]:active,
		&[disabled]:focus,
		&[disabled]:hover {
			cursor: not-allowed;
			background-color: colors.$gray-m;
			text-shadow: none;
			color: white;
			opacity: 100%;
		}
	} @else {
		@error 'Color schema #{$color} is not supported for btn generated mixin';
	}

	@include btn-size($size);
}
