@use "../colors.scss";
@use "./fonts.scss";
@use "./adapt.scss";

@mixin header($style) {
    @if $style == "h1" {
        @include fonts.font(am);
        font-size: 26px;
        color: black;
        @include adapt.screen(phone) {
            font-size: 22px;
        }
    } @else if $style == "h2" {
        @include fonts.font(am);
        font-size: 22px;
        color: black;
        @include adapt.screen(phone) {
            font-size: 20px;
        }
    } @else {
        @error 'Style #{$style} is not supported in header mixin.';
    }
}
