@use "../colors.scss";
@use "./fonts.scss";

@mixin link($style) {
    @if $style == "basic" {
        display: inline-block;
        @include fonts.font("ar");
        color: inherit;
        &:hover,
        &:focus,
        &:active {
            opacity: 80%;
        }
    } @else if $style == "teaser" {
        display: inline-block;
        @include fonts.font("ar");
        text-decoration: none;
        color: colors.$gray-xxxl;
        &:hover,
        &:focus,
        &:active {
            color: black;
        }
    } @else {
        @error 'Style #{$style} is not supported in link mixin.';
    }
}
