@use "../colors.scss";
@use "./fonts.scss";

// Shared
@mixin tag-style {
    display: inline-block;
    border-radius: 3px;
    @include fonts.font(ar);
}

// Size-mixin
@mixin tag-size($size) {
    @if $size == "s" {
        @include tag-style;
        font-size: 12px;
        padding: 4px 7px;
    } @else if $size == "m" {
        @include tag-style;
        font-size: 14px;
        padding: 5px 10px;
    } @else if $size == "l" {
        @include tag-style;
        font-size: 16px;
        padding: 10px 14px;
    } @else {
        @error 'Size #{$size} is not supported in tag-size mixin.';
    }
}

// Generator

@mixin tag($style, $size) {
    @if $style == "green" {
        border: colors.$green solid 1px;
        background-color: colors.$green;
        color: white;
        &:active,
        &:focus,
        &:hover {
            opacity: 95%;
        }
    } @else if $style == "green-white" {
        border: colors.$green solid 1px;
        background-color: white;
        color: colors.$green;
        &:active,
        &:focus,
        &:hover {
            opacity: 95%;
        }
    } @else if $style == "transparent-gray" {
        border: colors.$gray-s solid 1px;
        background-color: transparent;
        color: colors.$gray-xl;
        &:active,
        &:focus,
        &:hover {
            opacity: 85%;
        }
    } @else {
        @error 'Color schema #{$style} is not supported for tag generated mixin';
    }

    @include tag-size($size);
}
