@use "../../fw.scss";

.st-f-createIssueMessage {
    .__header {
        @include fw.header("h2");
        margin-bottom: 10px;
    }
    .__input {
        margin-bottom: 10px;
    }
    .__btnSend {
        @include fw.btn("green", "m");
    }
}
