<div class="st-c-tapSelect">
    <div class="__select">
        <button type="button">-- {{dict.notSelected}} --</button>
        <ul>
            {% for theme in themes %}
            <li name="{{theme.t_id}}">{{theme.t_title}}</li>
            {% endfor %}
        </ul>
    </div>
</div>