@use "../../fw.scss";

.st-p-profile {
    display: grid;
    grid-template-areas:
        "...      ...       ..."
        "...      header    ..."
        "...      content   ..."
        "...      links     ..."
        "...      ...       ...";
    grid-template-columns: 1fr 400px 1fr;
    grid-template-rows: 7vh max-content max-content max-content 15vh;
    gap: 0;
    @include fw.screen(phone) {
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: 4vh max-content max-content max-content 5vh;
    }
    position: relative;
    ._header {
        grid-column: header;
        grid-row: header;
        background-color: white;
        margin-bottom: 20px;
        @include fw.font(am);
        font-size: 25px;
        @include fw.screen("phone") {
            margin-bottom: 15;
            font-size: 22px;
        }
    }
    ._content {
        grid-column: content;
        grid-row: content;
    }
    ._field {
        padding-bottom: 15px;
    }
    ._links {
        grid-column: links;
        grid-row: links;
        margin-top: 10px;
    }
    ._link {
        display: block;
        text-align: center;
        color: fw.$gray-l;
        @include fw.font(ar);
        font-size: 16px;
        padding-bottom: 8px;
    }
}
