<!DOCTYPE html>
<html lang="ru">

<body>
    <%- include ../../blocks/HeaderBlock/HeaderBlockTempl.ejs -%>
    <%- include ../../blocks/MainMenuBlock/MainMenuBlockTempl.ejs -%>
    <main class="st-p-profile">
        <h1 class="_header">{{ dict.header }}</h1>
        <div action="" class="_content">
            <div class="_field st-c-viewbox js-viewbox-firstName">
                <input type="text" autocomplete="on" value="{{ props.profile.firstName }}" disabled>
                <label>{{ dict.firstNameLabel }}</label>
            </div>
            <div class="_field st-c-viewbox js-viewbox-mobilePhone">
                <input type="tel" autocomplete="on" value="{{ props.profile.mobilePhone }}" disabled>
                <label>{{ dict.mobilePhoneLabel }}</label>
            </div>
            <div class="_field st-c-viewbox js-viewbox-email">
                <input type="email" autocomplete="on" value="{{ props.profile.email }}" disabled>
                <label>{{ dict.emailLabel }}</label>
            </div>
            <div class="_field st-c-viewbox js-viewbox-password">
                <input type="password" autocomplete="on" value="secret" disabled>
                <label>{{ dict.passwordLabel }}</label>
                <a href="{{ data.passwordUpdateLink }}">
                    <div class="_edit"></div>
                </a>
            </div>
        </div>
        <div class="_links">
            <a href="" class="_link js-c-async">{{ dict.logoutLinkTitle }}</a>
        </div>
    </main>
    <%- include ../../blocks/FooterBlock/FooterBlockTempl.ejs -%>
</body>

</html>