// Ebay colors
$ebay-red: #d92b31;
$ebay-blue: #3e92c2;
$ebay-yellow: #dfaf48;
$ebay-green: #78cb5f;

// Brand colors
$blueviolet: #2400ff;
$green: #35cb00;
$green-m: #60b88d;
$orange: #ff7a00;
$yellow-s: #ffffc7;
$yellow-xs: #ffffe3;

// Gray colors
$gray-xs: #eee;
$gray-s: #ddd;
$gray-m: #ccc;
$gray-l: #bbb;
$gray-xl: #8f8f8f;
$gray-xxxl: #333;

// Error colors
$col-err-bg: tomato;
$col-err-txt: white;
$col-alert-bg: #d92b31cc;
$col-alert-txt: white;
