@font-face {
    font-family: Roboto;
    src: url("../assets/fonts/Roboto-Regular.woff2") format("woff2"),
        url("../assets/fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: Montserrat;
    src: url("../assets/fonts/Montserrat-Bold.woff2") format("woff2"),
        url("../assets/fonts/Montserrat-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: Montserrat;
    src: url("../assets/fonts/Montserrat-Regular.woff2") format("woff2"),
        url("../assets/fonts/Montserrat-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: Montserrat;
    src: url("../assets/fonts/Montserrat-Medium.woff2") format("woff2"),
        url("../assets/fonts/Montserrat-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@mixin font($family: false) {
    @if $family == "am" {
        font-family: "Montserrat", Arial, sans-serif;
        font-weight: 500;
        font-style: normal;
    } @else if $family == "ar" {
        font-family: "Montserrat", Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
    } @else if $family == "ab" {
        font-family: "Montserrat", Arial, sans-serif;
        font-weight: bold;
        font-style: normal;
    } @else if $family == "br" {
        font-family: "Roboto", Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
    } @else {
        @error "Property #{$family} is not supported in the font-mixin mixin.";
    }
}
