@use "../utils/colors.scss";
@use "../utils/fonts.scss";

@mixin link($style) {
    @if $style == "teaser" {
        display: inline-block;
        @include fonts.font("ar");
        text-decoration: none;
        color: colors.$gray-xxxl;
        &:hover,
        &:focus,
        &:active {
            color: black;
        }
    } @else {
        @error 'Style #{$style} is not supported in link mixin.';
    }
}
