@use "../../../fw.scss";

.st-c-textbox {
    position: relative;
    width: 100%;
    input {
        appearance: none;
        outline: none;
        height: 50px;
        width: 100%;
        font-size: 18px;
        box-sizing: border-box;
        padding-top: 15px;
        padding-left: 10px;
        border: fw.$gray-m solid 1px;
        border-radius: 2px;
        &:focus,
        &:active {
            border-color: fw.$gray-xl;
            outline: none;
        }
        &:focus ~ label,
        &:valid ~ label {
            font-size: 12px;
            top: 6px;
            color: fw.$gray-m;
            transition: 0.5s;
        }
    }
    label {
        position: absolute;
        @include fw.font(ar);
        font-size: 18px;
        color: fw.$gray-l;
        top: 14px;
        left: 0px;
        padding-left: 10px;
        pointer-events: none;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &.js-fieldError {
        & > input {
            border: fw.$col-err-bg solid 1px;
        }
        & > p {
            background-color: fw.$col-err-bg;
            color: fw.$col-err-txt;
            @include fw.font(ar);
            font-size: 14px;
            padding: 3px 3px 3px 5px;
            margin-top: -1px;
        }
    }
}
