@use "../../../fw.scss";

.st-c-scrollBox {
    // Отменяет выделение элементов
    user-select: none;
    /*
    Кроп выносится на корневой уровень компонента,
    иначе, при смещении влево, меню начинает
    пробивать отступ от левого края страницы.
    Это приводит к тому, что при начальном
    marginLeft, отличном от нуля, мы каждый раз
    получаем разные значения offsetWidth
    для контейенера с пунктами меню.
    */
    overflow-x: clip;
}
