<form class="st-c-form js-form-issueCreate">
    <h class="_header">{{ FormIssueCreateBlock.dict.formHeader }}</h>
    <div class="_field st-c-cascadeSelect js-cascadeSelect-theme">
        <div class="_selectsWrapper">
            <div class="_select" data-level="1">
                <button type="button">
                    -- {{ FormIssueCreateBlock.dict.notSelectedDefaultText }} --
                </button>
            </div>
        </div>
    </div>
    <div class="_field st-c-textbox js-textbox-summary">
        <input type="text" required>
        <label>{{ FormIssueCreateBlock.dict.summaryLabel }}</label>
    </div>
    <div class="_field st-c-textarea js-textarea-message">
        <textarea rows="5" required></textarea>
        <label>{{ FormIssueCreateBlock.dict.messageLabel }}</label>
    </div>
    <div class="_field st-c-multifile js-multifile-files">
        <div class="_wrapper">
            <label>
                <input type="file" multiple accept="image/*">
                <span class="_upload">{{ FormIssueCreateBlock.dict.addFilesLabel }}</span>
            </label>
        </div>
    </div>
    <button type="button" class="_btnSend js-btnSend">
        {{ FormIssueCreateBlock.dict.buttonText }}
    </button>
</form>