<!DOCTYPE html>
<html lang="ru">

<body>
    <%- include ../../blocks/HeaderBlock/HeaderBlockTempl.ejs -%>
    <%- include ../../blocks/MainMenuBlock/MainMenuBlockTempl.ejs -%>
    <main class="st-p-err400">
        <h1 class="_header">{{ dict.header }}</h1>
        <div class="_content">
            <p class="_contentText">{{ dict.message1 }}</p>
            <p class="_errorCode">400</p>
        </div>
    </main>
    <%- include ../../blocks/FooterBlock/FooterBlockTempl.ejs -%>
</body>

</html>