<!DOCTYPE html>
<html lang="ru">

<body>
    <%- include ../../blocks/HeaderBlock/HeaderBlockTempl.ejs -%>
    <%- include ../../blocks/MainMenuBlock/MainMenuBlockTempl.ejs -%>
    <main class="st-p-passwordUpdate">
        <div class="_form js-b-passwordUpdate">
            <%- include ../../blocks/FormPasswordUpdateBlock/FormPasswordUpdateBlockTempl.ejs -%>
        </div>
    </main>
    <%- include ../../blocks/FooterBlock/FooterBlockTempl.ejs -%>
</body>

</html>