@use "../../fw.scss";

.st-p-passwordUpdate {
    display: grid;
    grid-template-areas:
        "...      ...       ..."
        "...      form      ..."
        "...      ...       ...";
    grid-template-columns: 1fr 400px 1fr;
    grid-template-rows: 10vh max-content max-content 15vh;
    gap: 0;
    @include fw.screen(phone) {
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: 5vh max-content max-content 5vh;
    }
    ._form {
        grid-column: form;
        grid-row: form;
    }
}
