@use "../../fw.scss";

.gr-p-feedback {
    display: grid;
    grid-template-areas:
        "...      ...       ..."
        "...      form      ..."
        "...      ...       ...";
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: 7vh max-content 15vh;
    gap: 0;
    @include fw.screen(tablet) {
        grid-template-columns: 10% 1fr 10%;
    }
    @include fw.screen(phone) {
        grid-template-rows: 5vh max-content 5vh;
    }
}

._form {
    grid-column: form;
    grid-row: form;
}
