@use "../../fw.scss";

.gr-p-issueList {
    display: grid;
    grid-template-areas:
        "...      ...             ..."
        "...      header          ..."
        "...      emptyMessage    ..."
        "...      activeTeasers   ..."
        "...      archiveTeasers  ..."
        "...      ...             ...";
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows:
        5vh
        max-content max-content max-content max-content
        15vh;
    gap: 0;
    @media screen and (max-width: 700px) {
        grid-template-columns: 10% 1fr 10%;
    }
    @include fw.screen(phone) {
        grid-template-rows:
            3vh
            max-content max-content max-content max-content
            15vh;
    }
    @include fw.screen(wide) {
        grid-template-columns: 1fr 850px 1fr;
    }
    .gr-p-issueList--header {
        display: grid;
        grid-template-areas: " h1 ... btnLink";
        grid-template-columns: max-content 1fr max-content;
        grid-template-rows: max-content;
        gap: 0;
        @include fw.screen(phone) {
            grid-template-areas:
                "h1"
                "btnLink";
            grid-template-columns: 1fr;
            grid-template-rows: max-content max-content;
            gap: 10px;
        }
        ._h1 {
            grid-column: h1;
            grid-row: h1;
        }
        ._btnLink {
            grid-column: btnLink;
            grid-row: btnLink;
        }
    }
    ._activeTeasers {
        grid-column: activeTeasers;
        grid-row: activeTeasers;
    }
    ._archiveTeasers {
        grid-column: archiveTeasers;
        grid-row: archiveTeasers;
    }
    ._archiveHeader {
        grid-column: archiveHeader;
        grid-row: archiveHeader;
    }
    ._btnArchive {
        grid-column: btnArchive;
        grid-row: btnArchive;
    }
    ._emptyMessage {
        grid-column: emptyMessage;
        grid-row: emptyMessage;
    }
    ._header {
        grid-column: header;
        grid-row: header;
    }
}
