.gr-p-main {
    display: grid;
    grid-template-areas:
        "banner   banner        banner       banner         banner      banner"
        "...      howItWorks    howItWorks   howItWorks     howItWorks  ..."
        "...      item1         item2        item3          item4       ..."
        "cookies  cookies       cookies      cookies        cookies     cookies";
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    grid-template-rows: max-content max-content max-content max-content;
    gap: 0;
}

._banner {
    grid-column: banner;
    grid-row: banner;
}

._howItWorks {
    grid-column: howItWorks;
    grid-row: howItWorks;
}

._item1 {
    grid-column: item1;
    grid-row: item1;
}

._item2 {
    grid-column: item2;
    grid-row: item2;
}

._item3 {
    grid-column: item3;
    grid-row: item3;
}

._item4 {
    grid-column: item4;
    grid-row: item4;
}
