@use "../../fw.scss";

.gr-p-profile {
    display: grid;
    grid-template-areas:
        "...      ...       ..."
        "...      header    ..."
        "...      content   ..."
        "...      links     ..."
        "...      ...       ...";
    grid-template-columns: 1fr 400px 1fr;
    grid-template-rows: 7vh max-content max-content max-content 15vh;
    gap: 0;
    @include fw.screen(phone) {
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: 4vh max-content max-content max-content 5vh;
    }
}

._header {
    grid-column: header;
    grid-row: header;
}

._content {
    grid-column: content;
    grid-row: content;
}

._links {
    grid-column: links;
    grid-row: links;
}
