@use "../../fw.scss";

.gr-p-firstIssue {
    display: grid;
    grid-template-areas:
        "...      ...       ..."
        "...      btnLink   ..."
        "...      note      ..."
        "...      ...       ...";
    grid-template-columns: 1fr 450px 1fr;
    grid-template-rows:
        10vh
        max-content max-content
        15vh;
    gap: 0;
    @include fw.screen(phone) {
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows:
            7vh
            max-content max-content
            10vh;
    }
}

._btnLink {
    grid-column: btnLink;
    grid-row: btnLink;
}

._note {
    grid-column: note;
    grid-row: note;
}
