/* ===== CELLS LIB ===== */

/* Global */

.cell-logo {
    grid-column: logo;
    grid-row: logo;
}

.cell-header {
    grid-column: header;
    grid-row: header;
}

.cell-icon {
    grid-column: icon;
    grid-row: icon;
}

.cell-content {
    grid-column: content;
    grid-row: content;
}

/* Form Steps */

.cell-form-step-1 {
    grid-column: form-step-1;
    grid-row: form-step-1;
}

.cell-form-step-1-message {
    grid-column: form-step-1-message;
    grid-row: form-step-1-message;
}

.cell-form-step-fin {
    grid-column: form-step-fin;
    grid-row: form-step-fin;
}

.cell-fin-message {
    grid-column: fin-message;
    grid-row: fin-message;
}

.cell-form-step-err {
    grid-column: form-step-err;
    grid-row: form-step-err;
}

.cell-err-message {
    grid-column: err-message;
    grid-row: err-message;
}

.cell-topError {
    grid-column: topError;
    grid-row: topError;
}

/* Form controls */

.cell-password-checker {
    grid-column: password-checker;
    grid-row: password-checker;
}

/* Form fields */

.cell-form {
    grid-column: form;
    grid-row: form;
}

.cell-title {
    grid-column: title;
    grid-row: title;
}

.cell-server-err {
    grid-column: server-err;
    grid-row: server-err;
}

.cell-username {
    grid-column: username;
    grid-row: username;
}

.cell-email {
    grid-column: email;
    grid-row: email;
}

.cell-email-err {
    grid-column: email-err;
    grid-row: email-err;
}

.cell-phone {
    grid-column: phone;
    grid-row: phone;
}

.cell-phone-err {
    grid-column: phone-err;
    grid-row: phone-err;
}

.cell-user-password {
    grid-column: user-password;
    grid-row: user-password;
}

.cell-user-password-err {
    grid-column: user-password-err;
    grid-row: user-password-err;
}

.cell-user-password-repeat {
    grid-column: user-password-repeat;
    grid-row: user-password-repeat;
}

.cell-user-password-repeat-err {
    grid-column: user-password-repeat-err;
    grid-row: user-password-repeat-err;
}

/* Buttons */

.cell-btn-reg {
    grid-column: btn-reg;
    grid-row: btn-reg;
}

.cell-btn-auth {
    grid-column: btn-auth;
    grid-row: btn-auth;
}

.cell-btn-send {
    grid-column: btn-send;
    grid-row: btn-send;
}

.cell-btn-restart-form {
    grid-column: btn-restart-form;
    grid-row: btn-restart-form;
}

.cell-btn-link-to-auth {
    grid-column: btn-link-to-auth;
    grid-row: btn-link-to-auth;
}

/* ===== END OF CELLS LIB ===== */
