@use "../../fw.scss";

.st-p-login {
    display: grid;
    grid-template-areas:
        "...      ...       ..."
        "...      message   ..."
        "...      form      ..."
        "...      links     ..."
        "...      ...       ...";
    grid-template-columns: 1fr 400px 1fr;
    grid-template-rows: 10vh max-content max-content max-content 15vh;
    gap: 0;
    @include fw.screen(phone) {
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: 5vh max-content max-content max-content 5vh;
    }
    /* 
    Сообщение, которое появляется, если пользователь попадает
    на страницу логина в результате запрещенного действия
    */
    ._forbiddenMessage {
        grid-column: message;
        grid-row: message;
        @include fw.font(ar);
        @include fw.border(forbidden-message);
        font-size: 16px;
        margin-bottom: 35px;
        padding: 10px;
    }
    ._form {
        grid-column: form;
        grid-row: form;
    }
    ._links {
        grid-column: links;
        grid-row: links;
        margin-top: 10px;
    }
    ._link {
        display: block;
        text-align: center;
        color: fw.$gray-m;
        @include fw.font(ar);
        font-size: 16px;
        padding-bottom: 8px;
    }
}
