<!DOCTYPE html>
<html lang="ru">

<body>
    <%- include ../../blocks/HeaderBlock/HeaderBlockTempl.ejs -%>
    <%- include ../../blocks/MainMenuBlock/MainMenuBlockTempl.ejs -%>
    <main class="st-p-login">
        {% if props.isForbiddenMessageActive %}
        <div class="_forbiddenMessage">
            {{ dict.forbiddenMessage }}
        </div>
        {% endif %}
        <div class="_form js-b-formLogin">
            <%- include ../../blocks/FormLoginBlock/FormLoginBlockTempl.ejs -%>
        </div>
        <div class="_links">
            <a href="{{ data.rePassLink }}" class="_link">{{ dict.rePassLinkText }}</a>
            <a href="{{ data.signupLink }}" class="_link">{{ dict.signupLinkText }}</a>
        </div>
    </main>
    <%- include ../../blocks/FooterBlock/FooterBlockTempl.ejs -%>
</body>

</html>