<form class="st-c-form js-form-passwordUpdate">
    <h1 class="_header">{{ FormPasswordUpdateBlock.dict.formHeader }}</h1>
    <div class="_message">
        {% if props.isPasswordSet %}
        <p>{{ FormPasswordUpdateBlock.dict.messageForPasswordUpdate }}</p>
        {% else %}
        <p>{{ FormPasswordUpdateBlock.dict.messageForPasswordSet }}</p>
        {% endif %}
    </div>
    <div class="_field st-c-inputPassword js-passbox">
        <input type="password" required>
        <label>{{ FormPasswordUpdateBlock.dict.userPasswordLabel }}</label>
    </div>
    <div class="_passwordChecker st-c-passwordChecker js-c-passwordChecker">
        <span class="triangle"></span>
    </div>
    <button type="button" class="_btnSend js-btnSend">{{ FormPasswordUpdateBlock.dict.btnSendTitle }}</button>
</form>