<!DOCTYPE html>
<html lang="ru">

<body>
    <%- include ../../blocks/HeaderBlock/HeaderBlockTempl.ejs -%>
    <%- include ../../blocks/MainMenuBlock/MainMenuBlockTempl.ejs -%>
    <main>
        <div class="js-b-issueItem" data-issue-id="{{ IssueItemBlock.info.issueId }}">
            <%- include ../../blocks/IssueItemBlock/IssueItemBlockTempl.ejs -%>
        </div>
    </main>
    <%- include ../../blocks/FooterBlock/FooterBlockTempl.ejs -%>
</body>

</html>