<form class="st-c-form js-form-feedback">
    <h1 class="_header">{{ FeedbackFormBlock.dict.formHeader }}</h1>
    <fieldset class="_groupHorizontal">
        <div class="_field st-c-textbox js-textbox-firstName">
            <input type="text" autocomplete="on" value="{{ FeedbackFormBlock.profile.firstName }}">
            <label>{{ FeedbackFormBlock.dict.firstNameLabel }}</label>
        </div>
        <div class="_field st-c-textbox js-textbox-email">
            <input type="text" autocomplete="on" value="{{ FeedbackFormBlock.profile.email }}">
            <label>{{ FeedbackFormBlock.dict.emailLabel }}</label>
        </div>
    </fieldset>
    <div class="_field st-c-tapSelect js-tapSelect-theme">
        <div class="_select">
            <button type="button" class="_button">-- {{ FeedbackFormBlock.dict.notSelected }} --</button>
            <ul>
                {% for theme in FeedbackFormBlock.themes %}
                <li name="{{ theme.t_id }}">{{ theme.t_title }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="_field st-c-textarea js-textarea-message">
        <textarea rows="5" required></textarea>
        <label>{{ FeedbackFormBlock.dict.messageLabel }}</label>
    </div>
    <button type="button" class="_btnSend js-btnSend">{{ FeedbackFormBlock.dict.sendButtonText }}</button>
</form>