<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <style>
        .logo {
            padding-left: 5px;
            background-color: #2400ff;
            color: #fff;
            font-family: 'Montserrat', Arial, Verdana, sans-serif;
            font-size: 32px;
            font-weight: normal;
            text-align: left;
        }

        .header {
            font-family: Arial, Verdana, sans-serif;
            font-size: 28px;
            font-weight: normal;
            text-align: left;
        }

        .content {
            font-family: Arial, Verdana, sans-serif;
            font-size: 18px;
            font-weight: normal;
            text-align: left;
            line-height: 25px;
            padding-top: 0;
            margin-top: 0;
        }

        .button {
            background-color: #35cb00;
            color: #fff;
            font-family: 'Montserrat', Arial, Verdana, sans-serif;
            font-size: 14px;
            font-weight: normal;
            text-align: center;
            text-decoration: none;
            border: 16px solid #35cb00;
        }

        .footer-text {
            color: #ccc;
            font-family: Arial, Verdana, sans-serif;
            font-size: 12px;
            font-weight: normal;
            text-align: left;
            line-height: 22px;
            padding-top: 0;
            margin-top: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        .footer-link {
            color: #ccc;
            font-family: Arial, Verdana, sans-serif;
            font-size: 13px;
            font-weight: normal;
        }
    </style>
</head>

<body>
    <table width="100%" border="0">
        <tr>
            <td class="logo">dship</td>
        </tr>
        <tr>
            <td style="padding-top:15px; background-color:#fff;">
                <h1 class="header"> {{ header }}</h1>
                <p class="content">{{ content }}:</p>
            </td>
        </tr>
        <tr>
            <td style="padding-top:15px; background-color:#fff;">
                <a href="{{ confirmUrl }}" style="color: #fff;" class="button">{{ buttonTitle }}</a>
            </td>
        </tr>
        <tr>
            <td style="padding-top:35px; background-color: #fff;">
                <p class="footer-text">{{ emailIdTitle }}: {{ emailId }}</p>
            </td>
        </tr>
        <tr>
            <td style="padding-top:0; background-color:#fff; text-align:left;">
                <a href="" class="footer-link">{{ spamReportTitle }}</a>
            </td>
        </tr>
    </table>
</body>

</html>