@use "../../fw.scss";

.gr-a-p-error {
    display: grid;
    grid-template-areas:
        "...      ...       ..."
        "...      image     ..."
        "...      content   ..."
        "...      action    ..."
        "...      ...       ...";
    grid-template-columns: 1fr 400px 1fr;
    grid-template-rows: 10vh max-content max-content max-content 15vh;
    gap: 0;
    @include fw.screen(phone) {
        grid-template-columns: 10% 1fr 10%;
    }
}

._image {
    grid-column: image;
    grid-row: image;
}

._content {
    grid-column: content;
    grid-row: content;
}

._action {
    grid-column: action;
    grid-row: action;
}
