// Результаты запросов (успех или не успех)

@use "../../fw.scss";

.gr-a-p-result {
    display: grid;
    grid-template-areas:
        "...      ...       ..."
        "...      icon      ..."
        "...      header    ..."
        "...      content   ..."
        "...      action    ..."
        "...      ...       ...";
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 10vh max-content max-content max-content 15vh;
    gap: 0;
    @include fw.screen(phone) {
        grid-template-columns: 10% 1fr 10%;
    }
}
