@use "../../fw.scss";

.gr-a-p-httpError {
    display: grid;
    grid-template-areas:
        "...      ...       ..."
        "...      header    ..."
        "...      content   ..."
        "...      ...       ...";
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 10vh max-content max-content 15vh;
    gap: 0;
    @include fw.screen(phone) {
        grid-template-columns: 10% 1fr 10%;
    }
}

._header {
    grid-column: header;
    grid-row: header;
}

._content {
    grid-column: content;
    grid-row: content;
}
