@use "../../fw.scss";

.gr-a-p-actionError {
    display: grid;
    grid-template-areas:
        "...      ...       ..."
        "...      header    ..."
        "...      wrapper   ..."
        "...      errCode   ..."
        "...      ...       ...";
    grid-template-columns: 1fr 650px 1fr;
    grid-template-rows: 10vh max-content max-content max-content 15vh;
    gap: 0;
    @include fw.screen("tablet") {
        grid-template-rows: 8vh max-content max-content max-content 15vh;
        grid-template-columns: 10% 1fr 10%;
    }
    @include fw.screen(phone) {
        grid-template-rows: 5vh max-content max-content max-content 15vh;
    }
}

._header {
    grid-column: header;
    grid-row: header;
}

._wrapper {
    grid-column: wrapper;
    grid-row: wrapper;
}

._errCode {
    grid-column: errCode;
    grid-row: errCode;
}
