@use "../../../fw.scss";

.st-c-multifile {
    position: relative;
    ._wrapper {
        border: 1px solid fw.$gray-s;
        border-radius: 3px;
    }
    label {
        position: relative;
        display: flex;
        justify-content: center;
        cursor: pointer;
        padding: 15px;
        &:hover,
        &:active,
        &:focus {
            background-color: fw.$gray-xs;
        }
        ._upload {
            @include fw.font("am");
            text-align: center;
            font-size: 18px;
            border-bottom: 1px dotted fw.$gray-xl;
        }
    }
    input {
        opacity: 0;
        position: absolute;
        width: 1px;
    }
    ._gallery {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0 10px;
    }
    ._teaser {
        display: grid;
        grid-template-areas:
            "img fileName remove"
            "img fileSize ...";
        grid-template-rows: max-content 1fr max-content;
        justify-content: space-between;
        column-gap: 10px;
        border-top: 1px solid fw.$gray-s;
        padding-top: 10px;
        &:last-child {
            margin-bottom: 10px;
        }
        img {
            grid-column: img;
            grid-row: img;
            border-radius: 3px;
            width: 50px;
            height: auto;
        }
        ._fileName {
            grid-column: fileName;
            grid-row: fileName;
            @include fw.font("br");
            text-align: center;
            font-size: 14px;
            color: fw.$gray-xl;
        }
        ._fileSize {
            grid-column: fileSize;
            grid-row: fileSize;
            @include fw.font("br");
            display: block;
            text-align: center;
            font-size: 14px;
            color: fw.$gray-xl;
        }
        ._remove {
            grid-column: remove;
            grid-row: remove;
            border-radius: 3px;
            background: center no-repeat url(./basics/components/InputMultifileComponent/img/cross.svg);
            cursor: pointer;
            height: 20px;
            width: 20px;
            opacity: 75%;
            &:hover,
            &:active,
            &:focus {
                opacity: 100%;
            }
        }
        @include fw.screen(phone) {
            grid-template-areas:
                "img      remove"
                "fileName ..."
                "fileSize ...";
            grid-template-rows: 1fr max-content;
            justify-items: center;
        }
    }

    .js-disabled {
        cursor: not-allowed;
        ._upload {
            color: fw.$gray-s;
            border-bottom: none;
        }
    }

    &.js-fieldError {
        & > ._wrapper {
            border: fw.$col-err-bg solid 1px;
        }
        & > p {
            background-color: fw.$col-err-bg;
            color: fw.$col-err-txt;
            @include fw.font(ar);
            font-size: 14px;
            padding: 3px 3px 3px 5px;
            margin-top: -5px;
        }
    }
}
