@use "../../../fw.scss";

.st-c-modalWindow {
    display: grid;
    grid-template-areas:
        "...      ...         ..."
        "...      windowEl    ..."
        "...      ...         ...";
    /* Высота и ширина окна зависят от конечного содержимого
    (контента). Например, помещенного в окно изображения */
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 7vh max-content 15vh;
    justify-items: center;
    overflow: hidden;
    gap: 0;
    /* На мобильных устройствах окно занимает
    все видимое пространство */
    @include fw.screen(phone) {
        grid-template-columns: 0 1fr 0;
        grid-template-rows: 0 100% 0;
    }
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    background-color: #00000070;
    cursor: pointer;
    ._window {
        grid-column: windowEl;
        grid-row: windowEl;
        position: relative;
        background-color: white;
        /* Тень-обводка вокруг окна, создающая
        эффект приподнятости */
        box-shadow: 0 0 30px #00000050;
        border-radius: 5px;
        /* Без overflow прямоугольный контент
        будет перекрывать скругления */
        overflow: hidden;
        @include fw.screen(phone) {
            border-radius: 0;
        }
        max-width: 100%;
        /* Сбрасываем настройки курсора,
        которые были заданные для фона */
        cursor: auto;
        ._header {
            display: flex;
            /* Сбрасываются возможные отступы
            из родительских элементов */
            margin: auto;
            /* Задаем отступ для пиктограммы
            закрытия окна */
            padding-top: 5px;
            padding-right: 5px;
            ._title {
                @include fw.font(ar);
                font-size: 15px;
                justify-self: left;
            }
            ._closeBtn {
                // position: absolute;
                // right: 0px;
                // top: 0px;
                justify-self: right;
                width: 25px;
                height: 25px;
                @include fw.btn-image("./basics/components/ModalWindowComp/img/cross.svg");
                /* Прижимает элемент к правой
                границе флекс-контейнера */
                margin-left: auto;
            }
        }
        ._content {
            position: relative;
        }
    }
}
