//TODO удалить
.js-hide {
    display: none;
}

.js-hidden {
    visibility: hidden;
}

.js-transparent {
    opacity: 0;
}

/*
    Посольку все оверлеи имеют разные размеры, их начальное отрицательное позиционирование
    задается в соответствующих классах. Как и настройки анимации. На класс, который
    возвращает оверлей на место, универсален, поэтому находится в библиотеке
*/
.js-overlay-show {
    top: 0;
    left: 0;
    visibility: visible;
}
