@use "../../../fw.scss";

.st-c-teaserList {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    ._imageItem {
        @include fw.border("block");
        @include fw.screen("phone") {
            height: 100px;
        }
        cursor: pointer;
        border-radius: 5px;
    }
}
