@use "../../fw.scss";

.st-b-issueItem {
    display: grid;
    grid-template-areas:
        "...      ...         ..."
        "...      header      ..."
        "...      top         ..."
        "...      issueChat   ..."
        "...      ...         ...";
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows:
        5vh
        max-content max-content max-content
        15vh;
    gap: 0;
    @media screen and (max-width: 700px) {
        grid-template-columns: 10% 1fr 10%;
    }
    @include fw.screen(phone) {
        grid-template-rows:
            3vh
            max-content max-content max-content
            15vh;
    }

    ._issueChat {
        grid-column: issueChat;
        grid-row: issueChat;
    }
    ._header {
        grid-column: header;
        grid-row: header;
        margin-bottom: 15px;
        @include fw.header(h1);
    }
    ._headSection {
        grid-column: top;
        grid-row: top;
        margin-bottom: 15px;
        @include fw.border(block);
        padding: 15px;
        @include fw.screen("phone") {
            border: none;
            padding: 0;
        }
        ._tags {
            display: flex;
            margin-bottom: 18px;
            column-gap: 10px;
        }
        .__statusTagActive {
            @include fw.tag("green", "m");
        }
        .__statusTagClosed {
            @include fw.tag("green-white", "m");
        }
        ._themeTag {
            @include fw.tag("transparent-gray", "m");
        }
        ._title {
            @include fw.font(am);
            font-size: 20px;
            text-align: start;
            margin-bottom: 15px;
        }
        ._text {
            @include fw.font(br);
            font-size: 18px;
            line-height: 1.3;
            text-align: start;
            margin-bottom: 15px;
            color: fw.$gray-xl;
            &:active,
            &:focus,
            &:hover {
                color: fw.$gray-xxxl;
            }
        }
        ._issueCloseButton {
            @include fw.btn(transparent-violet, m);
            @include fw.screen("phone") {
                width: 100%;
            }
        }
        ._teaserList {
            margin-bottom: 20px;
            display: flex;
            justify-content: flex-start;
            gap: 10px;
            ._teaserItem {
                @include fw.border("block");
                @include fw.screen("phone") {
                    height: 100px;
                }
                cursor: pointer;
                border-radius: 5px;
            }
        }
        .__archivedMessage {
            border: 1px solid fw.$blueviolet;
            border-radius: 3px;
            padding: 10px;
            p {
                @include fw.font(ar);
                color: fw.$blueviolet;
                font-size: 16px;
                line-height: 1.1;
                text-align: start;
            }
        }
    }
    ._notFoundSection {
        @include fw.border(block);
        ._message {
            @include fw.font(ar);
            font-size: 18px;
        }
    }
}

.st-c-issueItem--modalImage {
    display: block;
    width: 100%;
}
