<div class="st-b-issueItem">
    {% if IssueItemBlock.info %}
    <h1 class="_header">{{ IssueItemBlock.dict.headerWithNumber }}{{ IssueItemBlock.info.issueId }}</h1>
    <div class="_headSection">
        <div class="_tags">
            {% if IssueItemBlock.info.isArchived == 0 %}
            <span class="__statusTagActive js-statusTag">
                {{ IssueItemBlock.dict.statusTagActiveText }}
            </span>
            {% else %}
            <span class="__statusTagClosed js-statusTag">
                {{ IssueItemBlock.dict.statusTagClosedText }}
            </span>
            {% endif %}
            <span class="_themeTag">{{ IssueItemBlock.info.themeTitle }}</span>
        </div>
        <div class="_message js-messageInfo">
            <h2 class="_title">{{ IssueItemBlock.info.summary }}</h2>
            <p class="_text">{{ IssueItemBlock.info.message }}</p>

            <!-- TeaserList component -->
            {% if IssueItemBlock.images %}
            <div class="_teaserList js-teaserList">
                {% for image in IssueItemBlock.images %}
                <img class="_teaserItem" src="{{ image.src }}" alt="{{ image.alt }}" decoding="{{ image.decoding }}"
                    loading="{{ image.loading }}" data-id="{{ image.id }}" data-fs="{{ image.fs }}">
                {% endfor %}
            </div>
            {% endif %}
            <!-- End TeaserList component -->

            {% if IssueItemBlock.info.isArchived %}
            <div class="__archivedMessage">
                <p>{{ IssueItemBlock.dict.closedMessageText }}</p>
            </div>
            {% else %}
            <button class="_issueCloseButton js-issueCloseButton">
                {{ IssueItemBlock.dict.markResolved }}
            </button>
            {% endif %}
        </div>
    </div>

    <!-- Chat thread component -->
    <div class="_issueChat st-c-chatThread js-issueChat">
        {% if IssueItemBlock.messages %}
        <div class="js-messageList">
            {% for message in IssueItemBlock.messages %}
            <div class="_messageContainer js-messageItem" data-id="{{ message.id }}">
                <div class="_messageInfo"></div>
                <p>{{ message.text | replace("\r\n", "</p><p>") | safe }}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if IssueItemBlock.info.isArchived == 0 %}
        <form class="js-form-createMessage">
            <div class="_formInput st-c-textarea js-textarea-message">
                <textarea rows="3" required></textarea>
                <label>{{ IssueItemBlock.dict.addMessageLabel }}</label>
            </div>
            <button type="button" class="_formBtnSend js-btnSend">
                {{ IssueItemBlock.dict.sendButtonText }}
            </button>
        </form>
        {% endif %}
    </div>
    <!-- End chat thread component -->

    {% else %}
    <div class="_notFoundSection">
        <p class="_message">{{ IssueItemBlock.dict.itemNotFound }}</p>
    </div>
    {% endif %}
</div>