@use "../../../fw.scss";

.st-s-pageException {
    display: grid;
    grid-template-areas:
        "...      ...       ..."
        "...      header    ..."
        "...      wrapper   ..."
        "...      errCode   ..."
        "...      ...       ...";
    grid-template-columns: 1fr 650px 1fr;
    grid-template-rows: 10vh max-content max-content max-content 15vh;
    gap: 0;
    @include fw.screen("tablet") {
        grid-template-rows: 8vh max-content max-content max-content 15vh;
        grid-template-columns: 10% 1fr 10%;
    }
    @include fw.screen(phone) {
        grid-template-rows: 5vh max-content max-content max-content 15vh;
    }
    // styles
    position: relative;
    ._header {
        grid-column: header;
        grid-row: header;
        position: absolute;
        top: 0px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        padding: 0 10px;
        @include fw.font(ab);
        text-align: center;
        font-size: 25px;
        color: fw.$col-err-bg;
        background-color: white;
        @include fw.screen("tablet") {
            font-size: 23px;
        }
        @include fw.screen("phone") {
            font-size: 20px;
        }
    }
    ._wrapper {
        grid-column: wrapper;
        grid-row: wrapper;
        border: fw.$col-err-bg solid 1px;
        border-radius: 7px;
        padding: 35px 25px 30px 25px;
        @include fw.screen("phone") {
            border: none;
            padding: 40px 0 0 0;
        }
    }
    ._errCode {
        grid-column: errCode;
        grid-row: errCode;
        margin-top: 15px;
        text-align: center;
        @include fw.font(ar);
        font-size: 14px;
        color: fw.$gray-l;
    }
    ._text {
        position: relative;
        @include fw.font(ar);
        text-align: center;
        color: fw.$col-err-bg;
        line-height: 1.3;
        font-size: 20px;
        padding: 0;
        @include fw.screen("tablet") {
            font-size: 18px;
        }
        @include fw.screen("phone") {
            font-size: 16px;
        }
    }
    ._btnWrapper {
        display: flex;
        justify-content: center;
    }
    ._btn {
        margin-top: 20px;
        @include fw.btn("green", "l");
        @include fw.screen("phone") {
            width: 100%;
        }
    }
}
