@use "../../fw.scss";

.st-b-headerLogout {
    height: 75px;
    background-color: fw.$blueviolet;
    position: relative;
    @include fw.screen(tablet) {
        height: 65px;
    }
    @include fw.screen(phone) {
        height: 55px;
    }
    .__logo {
        align-self: center;
        color: white;
        @include fw.font("am");
        @include fw.screen("desktop") {
            font-size: 42px;
        }
        @include fw.screen("phone") {
            font-size: 30px;
        }
        @include fw.screen("tablet") {
            font-size: 35px;
        }
    }
    .__btnReg {
        align-self: center;
        @include fw.btn("green", "m");
        @include fw.screen("phone") {
            @include fw.btn("green", "s");
        }
    }
    .__btnLogin {
        align-self: center;
        @include fw.btn("transparent-white", "s");
    }
}
