@use "../../fw.scss";

.st-b-separator {
    display: flex;
    justify-content: center;
    p {
        position: relative;
        @include fw.font("am");
        font-size: 20px;
        margin: 25px 0;
        &::before {
            content: "";
            position: absolute;
            width: 200px;
            height: 1px;
            background-color: fw.$gray-s;
            right: 75px;
            top: 12px;
        }
        &::after {
            content: "";
            position: absolute;
            width: 200px;
            height: 1px;
            background-color: fw.$gray-s;
            left: 75px;
            top: 12px;
        }
    }
}
