@use "../../fw.scss";

.st-b-headerLogin {
    height: 65px;
    background-color: fw.$gray-xs;
    position: relative;
    @include fw.screen(phone) {
        height: 55px;
    }
    .__logo {
        align-self: center;
        color: fw.$blueviolet;
        @include fw.font("am");
        font-size: 40px;
        @include fw.screen("phone") {
            font-size: 30px;
        }
    }

    .__btnUserProfile {
        align-self: center;
        @include fw.btn("transparent-violet", "s");
    }

    .__btnLogout {
        align-self: center;
        height: 22px;
        width: 22px;
        margin-left: 15px;
        background: center no-repeat url(../assets/svg/logout.svg);
        cursor: pointer;
    }
}

.__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -65px;
    transition: top 0.3s;
    display: flex;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    background-color: fw.$blueviolet;
    @include fw.screen(phone) {
        height: 55px;
    }
    .__text {
        @include fw.font("am");
        font-size: 22px;
        color: white;
        @include fw.screen("phone") {
            font-size: 16px;
        }
    }
    .__btn {
        align-self: center;
        @include fw.btn("transparent-white", "l");
        @include fw.screen("phone") {
            @include fw.btn("transparent-white", "s");
        }
    }
}
