@use "../../fw.scss";

.st-b-footer {
    position: relative;
    .__line {
        margin-block-end: 10px;
        color: fw.$gray-s;
        background-color: fw.$gray-s;
        height: 1px;
        width: 100%;
        align-self: center;
        border: 0 none;
    }
    .__text {
        @include fw.font(ar);
        justify-self: center;
        text-align: center;
        color: fw.$gray-m;
    }
}
