@use "../../fw.scss";

.st-b-issueTeaser {
    border: 1px solid fw.$gray-s;
    border-radius: 5px;
    padding: 15px;
    @include fw.screen(phone) {
        padding: 10px;
    }
    .__title {
        @include fw.link(teaser);
        padding-bottom: 10px;
        font-size: 18px;
        @include fw.screen(phone) {
            font-size: 16px;
        }
    }
    .__tags {
        display: flex;
        gap: 10px;
    }
    .__status {
        @include fw.tag("green", "s");
    }
    .__theme {
        @include fw.tag("transparent-gray", "s");
    }
}
